@import 'src/styles/shared';

.breadcrumbs {
  font-size: 13px;
  margin: 1em 0 1.5em;

  &-container {
    @include container;
  }
}

.breadcrumb {
  color: #ada49e;

  &:after {
    content: '/';
    display: inline-block;
    margin: 0 0.75em;
  }

  &.active {
    color: #80756e;

    &::after {
      display: none;
    }
  }
}
