@use 'src/styles/shared' as Shared;
@use 'src/styles/variables' as *;
@use 'src/styles/ui';

.order {
  color: #82756e;
  font-size: 14px;

  &-note {
    line-height: 1.4;
    margin-bottom: 20px;
  }

  &-warning {
    color: #ea1c35;
  }

  &-container {
    @extend .container;
  }

  &-layout {
    @include Shared.mediaTabletBg {
      column-gap: 56px;
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  }

  &-title {
    @extend .page-title;
  }

  &-steps {
    margin-bottom: 32px;
    @include Shared.mediaLaptop {
      margin-bottom: 120px;
    }
  }
}
