@use 'src/styles/shared' as Shared;
@use 'src/styles/variables' as *;
@use 'src/styles/ui';

.order-summary {
  @include Shared.pageSummary;

  &-policy {
    line-height: 1.3;
    text-align: center;
    @include Shared.mediaOnlyTablet {
      display: inline-block;
    }

    a {
      text-decoration: underline;
    }
  }
}
