@import "src/styles/shared";

.order {
  color: #82756e;
  font-size: 14px;

  &-note {
    line-height: 1.4;
    margin-bottom: 20px;
  }

  &-warning {
    color: #ea1c35;
  }

  &-container {
    @extend .container;
  }

  &-layout {
    @include mediaTabletBg {
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: 56px;
    }
  }

  &-title {
    @extend .page-title;
  }

  &-steps {
    margin-bottom: 32px;
    @include mediaLaptop {
      margin-bottom: 120px;
    }
  }
}
