@use 'src/styles/shared' as Shared;

.container {
  @include Shared.container;
}

.page-title {
  font-size: 12px;
  margin-bottom: 36px;
  text-transform: uppercase;
  @include Shared.mediaTablet {
    font-size: 18px;
  }
  @include Shared.mediaTabletBg {
    margin-bottom: 42px;
  }
  @include Shared.mediaDesktop {
    font-size: 20px;
  }
}
