@use 'src/styles/variables' as *;
@use 'src/styles/shared' as Shared;

@mixin container {
  margin: 0 auto;
  max-width: $containerWidthMobile;
  padding: 0 $containerPaddingMobile;

  @include Shared.mediaTablet {
    padding: 0 $containerPaddingTablet;
  }
  @include Shared.mediaLaptop {
    padding: 0 $containerPaddingLaptop;
    max-width: $containerWidthLaptop;
  }
  @include Shared.mediaDesktop {
    padding: 0 $containerPaddingDesktop;
    max-width: $containerWidthDesktop;
  }
}

.container {
  @include Shared.container;
}

.page-title {
  font-size: 12px;
  margin-bottom: 36px;
  text-transform: uppercase;
  @include Shared.mediaTablet {
    font-size: 18px;
  }
  @include Shared.mediaTabletBg {
    margin-bottom: 42px;
  }
  @include Shared.mediaDesktop {
    font-size: 20px;
  }
}

@mixin pageSummary {
  padding: 36px $containerPaddingMobile 46px;
  background: #f1f1f1;
  font-size: 15px;
  margin: 0 ($containerPaddingMobile * -1);
  @include Shared.mediaTablet {
    padding: 36px $containerPaddingTablet 46px;
    margin: 0 ($containerPaddingTablet * -1);
  }
  @include Shared.mediaTabletBg {
    padding: 36px 20px 32px;
    margin: 0 0 56px;
    height: fit-content;
    position: sticky;
    z-index: 0;
    top: calc(var(--headerHeight) + 20px)
  }

  &-body {
    .icon-close {
      font-size: 12px;
      font-weight: 700;
      margin: 0 4px;
    }
  }
  &-footer, &-header {
    font-size: 17px;
  }
  &-footer {
    padding-top: 12px;
    border-top: 2px solid white;
  }

  &-row {
    @include Shared.flex(center, space-between);
    margin-bottom: 20px;
  }
  &-name, &-value {
    letter-spacing: 0.02em;
  }
  &-name {
    color: #82756e;
  }
  &-value {
    color: #505050;
  }

  &-points {
    border-radius: 4px;
    background: #766cff;
    color: white;
    font-size: 17px;
    padding: 4px 10px;
    margin: 0 4px;
  }

  &-submit {
    @extend .button-brown;
    margin-bottom: 20px;
    max-width: 300px;
  }
}
