$icon-square: '\e900';
$icon-squares-3: '\e901';
$icon-squares-4: '\e902';
$icon-squares-6: '\e903';
$icon-squares-8: '\e904';
$icon-telegram: '\e905';
$icon-vk: '\e906';
$icon-arrow-down: '\e907';
$icon-arrow-left: '\e908';
$icon-arrow-right: '\e909';
$icon-arrow-up: '\e90a';
$icon-close: '\e90b';
$icon-filters: '\e90c';
$icon-heart: '\e90d';
$icon-heart-fill: '\e90e';
$icon-location: '\e90f';
$icon-logo: '\e910';
$icon-menu: '\e911';
$icon-mute: '\e912';
$icon-person: '\e913';
$icon-search: '\e914';
$icon-suitcase: '\e915';

@font-face {
  font-family: 'iconfont';
  src: url('src/assets/fonts/iconfont.eot?gtz0yo');
  src: url('src/assets/fonts/iconfont.eot?gtz0yo#iefix') format('embedded-opentype'),
  url('src/assets/fonts/iconfont.ttf?gtz0yo') format('truetype'),
  url('src/assets/fonts/iconfont.woff?gtz0yo') format('woff'),
  url('src/assets/fonts/iconfont.svg?gtz0yo#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.iconfont {
  font-family: 'iconfont', emoji !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-square {
  &:before {
    content: $icon-square;
  }
}

.icon-squares-3 {
  &:before {
    content: $icon-squares-3;
  }
}

.icon-squares-4 {
  &:before {
    content: $icon-squares-4;
  }
}

.icon-squares-6 {
  &:before {
    content: $icon-squares-6;
  }
}

.icon-squares-8 {
  &:before {
    content: $icon-squares-8;
  }
}

.icon-telegram {
  &:before {
    content: $icon-telegram;
  }
}

.icon-vk {
  &:before {
    content: $icon-vk;
  }
}

.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}

.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}

.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}

.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}

.icon-close {
  &:before {
    content: $icon-close;
  }
}

.icon-filters {
  &:before {
    content: $icon-filters;
  }
}

.icon-heart {
  &:before {
    content: $icon-heart;
  }
}

.icon-heart-fill {
  &:before {
    content: $icon-heart-fill;
  }
}

.icon-location {
  &:before {
    content: $icon-location;
  }
}

.icon-logo {
  &:before {
    content: $icon-logo;
  }
}

.icon-menu {
  &:before {
    content: $icon-menu;
  }
}

.icon-mute {
  &:before {
    content: $icon-mute;
  }
}

.icon-person {
  &:before {
    content: $icon-person;
  }
}

.icon-search {
  &:before {
    content: $icon-search;
  }
}

.icon-suitcase {
  &:before {
    content: $icon-suitcase;
  }
}

