._beige {
  background: #eee8aa;
}

._black {
  background: #2a2a2a;
}

._milk {
  background: #efece5;
}

._brown {
  background: #5c2c1b;
}

._blue {
  background: #10537e;
}

._pink {
  background: #c76864;
}

._red {
  background: #c40c0c;
}

._green {
  background: #2f7e10;
}

._yellow {
  background: #eac103;
}

._color {
  border: none;
  background: url('src/assets/img/color.jpg') no-repeat center;
  background-size: contain;
}

._orange {
  background: #f68603;
}

._gray {
  background: #777777;
}

._purple {
  background: #8e33bd;
}

._olive {
  background: #6a5f31;
}

._mint {
  background: #497e76;
}