@import 'src/styles/shared';


.cart-summary {
  @include pageSummary;

  &-label {
    @include flex(center, $w: wrap);
    margin-bottom: 20px;

    &-title {
      flex: 0 0 auto;
      margin-bottom: 10px;
      width: 100%;
    }
  }

  &-input {
    @include input-white;
    flex: 1 0 auto;
  }

  &-button {
    @include button-square;
  }

  &-message {
    margin-bottom: 36px;
  }
}
