@use 'src/styles/shared' as Shared;
@use 'src/styles/ui';

.cart {
  padding-top: 15px;
  @include Shared.mediaTablet {
    padding-top: 24px;
  }

  &-title {
    @extend .page-title;
  }

  &-container {
    @extend .container;
  }

  &-layout {
    @include Shared.mediaTabletBg {
      column-gap: 56px;
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  }

  &-cards {
    margin-bottom: 25px;
    @include Shared.mediaTablet {
      margin-bottom: 56px;
    }
  }
}
