@use 'src/styles/shared' as Shared;

.cart-summary {
  @include Shared.pageSummary;

  &-label {
    @include Shared.flex(center, $w: wrap);
    margin-bottom: 20px;

    &-title {
      flex: 0 0 auto;
      margin-bottom: 10px;
      width: 100%;
    }
  }

  &-input {
    @extend .input-white;
    flex: 1 0 auto;
  }

  &-button {
    @extend .button-square;
  }

  &-message {
    margin-bottom: 36px;
  }
}
