@import "src/styles/shared";

.cart {
  padding-top: 15px;
  @include mediaTablet {
    padding-top: 24px;
  }

  &-title {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 36px;
    @include mediaTablet {
      font-size: 18px;
    }
    @include mediaTabletBg {
      margin-bottom: 42px;
    }

    @include mediaDesktop {
      font-size: 20px;
    }
  }

  &-container {
    @extend .container;
  }

  &-layout {
    @include mediaTabletBg {
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: 56px;
    }
  }

  &-cards {
    margin-bottom: 25px;
    @include mediaTablet {
      margin-bottom: 56px;
    }
  }
}
