@import "src/styles/shared";

.cart-summary {
  @include pageSummary;

  &-label {
    @include flex(center, $w: wrap);
    margin-bottom: 20px;

    &-title {
      flex: 0 0 auto;
      width: 100%;
      margin-bottom: 10px;
    }
  }

  &-input {
    @extend .input-white;
    flex: 1 0 auto;
  }

  &-button {
    @extend .button-square;
  }

  &-message {
    margin-bottom: 36px;
  }
}
