@use 'src/styles/shared';

.cart-card {
  border-bottom: 1px solid #dadada;
  font-size: 14px;
  padding: 25px 0;
  position: relative;
  z-index: 0;
  @include mediaLaptop {
    font-size: 15px;
    padding: 30px 0;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: 0;
    @include mediaTabletBg {
      padding-bottom: 0;
    }
  }

  &-desktop {
    column-gap: 25px;
    display: grid;
    grid-auto-flow: row;
    grid-template-areas:
    'img body quantity prices'
    'img footer footer footer';
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content;
    @include mediaOnlyMobile {
      display: none;
    }
    @include mediaLaptop {
      column-gap: 32px;
      grid-template-columns: 126px auto 95px 70px;
    }

    .cart-card {
      &-img {
        grid-area: img;
      }

      &-body {
        grid-area: body;
        @include mediaLaptop {
          @include flex;
          margin-left: -16px;
        }
      }

      &-quantity {
        grid-area: quantity;
        margin: 0 0 auto;
      }

      &-prices {
        @include flex(flex-end, $d: column);
        grid-area: prices;
        margin: 0 0 auto;
      }

      &-footer {
        @include mediaTablet {
          @include flex(center, flex-end);
          bottom: 25px;
          grid-area: footer;
          position: absolute;
          right: 0;
          z-index: 1;
        }
        @include mediaLaptop {
          bottom: 30px;
        }
      }
    }
  }

  &-mobile {
    column-gap: 25px;
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    @include mediaTablet {
      display: none;
    }
  }

  &-left, &-right {
    @include flex($d: column);
  }

  &-img {
    border-radius: 4px;
    display: block;
    @include mediaOnlyMobile {
      margin-bottom: 13px;
    }

    img {
      border-radius: 4px;
      display: block;
    }
  }

  &-quantity {
    @include flex(center, space-between);
    background: #f1f1f1;
    border-radius: 4px;
    height: 44px;;
    margin: auto auto 0;
    width: 95px;

    &-button, &-input {
      color: #82756e;
      flex: 0 0 auto;
      font-size: 14px;
      height: 100%;
      text-align: center;
    }

    &-button {
      @include flex(center, center);
      padding: 0 10px;
      transition: background-color 0.2s;
      width: 33%;

      &:active {
        background: #dadada;
      }
    }

    &-input {
      width: 34%;
    }
  }

  &-body {
    @include mediaLaptop {
      @include flex($j: space-between);
    }
  }

  &-title {
    margin-bottom: 14px;
    @include mediaLaptop {
      font-size: 18px;
      width: 120px;
    }
    @include mediaDesktop {
      width: 240px;
    }
  }

  &-article {
    margin-bottom: 10px;
    @include mediaLaptop {
      margin-bottom: 0;
    }
  }

  &-colors {
    margin-bottom: 14px;
    @include mediaLaptop {
      margin-bottom: 0;
    }
  }

  &-color {
    &-name {
      margin-bottom: 6px;
    }

    &-circle {
      border-radius: 50%;
      height: 20px;
      width: 20px;
    }
  }

  &-size {
    @include mediaOnlyMobile {
      margin-bottom: 14px;
    }
    @include mediaLaptop {
      @include flex(center, center);
      background: #f1f1f1;
      border-radius: 4px;
      height: 44px;
      width: 44px;
    }
  }

  &-prices {
    @include flex(center, space-between);
    @include mediaOnlyMobile {
      margin-top: auto;
    }
  }

  &-discount {
    @include flex(center, center);
    background: #756bff;
    border-radius: 10px 0;
    color: white;
    font-size: 15px;
    height: 37px;
    width: 56px;
    @include mediaTablet {
      margin-bottom: 13px;
    }
    @include mediaLaptop {
      font-size: 17px;
      height: 45px;
      width: 70px;
    }
  }

  &-price {
    &, &-old, &-current {
      font-size: 17px;
    }

    &-old {
      text-decoration: line-through;
    }

    &-current {
      color: #ea1c35;
    }
  }

  &-footer {
    @include flex(center);
    @include mediaOnlyMobile {
      height: 44px;;
      margin-top: auto;
    }
  }

  &-remove {
    @include flex(center);
    font-size: 16px;
    @include mediaLaptop {
      font-size: 17px;
    }

    .iconfont {
      font-size: 13px;
      margin-left: 6px;
    }
  }

  &-favourite {
    font-size: 22px;
    @include mediaOnlyMobile {
      margin-left: auto;
    }
    @include mediaTablet {
      margin-left: 20px;
    }
  }
}
