@import 'src/styles/shared';

.filters {
  @include mediaOnlyMobileAndAllTablets {
    position: fixed;
    z-index: 105;
    top: 0;
    left: 0;
    overflow-y: auto;
    display: block;
    width: 320px;
    height: 100%;
    transition: transform 0.5s;
    transform: translate(-100%, 0);
    pointer-events: none;
    background: white;

    &.active {
      transform: none;
      pointer-events: auto;
    }

    @include scrollbar;
  }

  &-sticky, &-mobile {
    @include flex($d: column);
    @include mediaOnlyMobileAndAllTablets {
      height: 100%;
    }
  }

  &-sticky {
    @include mediaLaptop {
      position: sticky;
      z-index: 0;
      top: 100px;
    }
  }

  &-mobile {
    @include mediaLaptop {
      display: none;
    }
  }


  &-header {
    @include flex(center, space-between);
    font-size: 12px;
    letter-spacing: 0.02px;
    padding: $containerPaddingMobile;
    text-transform: uppercase;
    @include mediaLaptop {
      display: none;
      padding-left: 0;
    }
  }

  &-close {
    @include mediaLaptop {
      display: none;
    }
  }

  &-body {
    margin-bottom: 40px;
  }

  .details {
    @include flex($d: column);

    &-summary {
      @include flex(center);
      font-size: 17px;
      flex: 1 0 auto;
      width: auto;
      height: 70px;
      padding: 0 $containerPaddingMobile;
      transition: background-color 0.25s;
      border-top: 1px solid #e9e9e9;

      @include mediaLaptop {
        font-size: 18px;
        padding-left: 0;
      }

      //@media screen and (any-hover: hover) {
      //  &:hover {
      //    background: #e9e9e9;
      //  }
      //}

      &-content {
        @include flex(center);
        flex: 1 0 auto;
        width: auto;
      }
    }

    &-button {
      order: 1;
      margin-left: auto;
    }

    &-selected {
      @include lineClamp(1);
      font-size: 13px;
      letter-spacing: 0.02em;
      color: #c7b29c;
      @include mediaLaptop {
        font-size: 14px;
      }
    }

    &-body {
      @include flex($d: column);
      font-size: 14px;
      letter-spacing: 0.02em;
      padding: $containerPaddingMobile;
      @include mediaTablet {
        font-size: 16px;
      }
    }
  }

  label {
    @include flex(center);
    width: fit-content;
    margin-bottom: 0.5em;
  }

  &-buttons {
    @include flex(center);
    margin-top: auto;
    @include mediaOnlyMobileAndAllTablets {
      position: sticky;
      z-index: 1;
      bottom: 0;
      padding: ($containerPaddingMobile * 2) $containerPaddingMobile;
      background: white;
      box-shadow: 0 -2px 4px rgba(81, 80, 79, 0.25);
    }
  }

  &-reset, &-submit {
    width: 142px;
    height: 44px;;
    border-radius: 4px;
  }

  &-reset {
    margin-right: 10px;
    color: #c7b29c;
    border: 2px solid #c7b29c;
    background: white;
    @include mediaLaptop {
      margin-right: 20px;
    }
  }

  &-submit {
    color: white;
    background: #c7b29c;
  }

  // для десктопа
  &-desktop {
    display: none;
    @include mediaLaptop {
      @include flex($d: column);
    }
  }

  &-title {
    font-size: 17px;
    letter-spacing: 0.02em;
    margin-bottom: 1.25em;
    color: #82756e;
  }

  &-link {
    font-size: 15px;
    letter-spacing: 0.02em;
    margin-bottom: 1em;

    &:hover,
    &.active {
      color: #51504f;
    }
  }
}
