.noUi {
  &-horizontal {
    width: calc(100% - 20px);
    height: 4px !important;
    margin: 0 auto;
    border: 0 !important;
    background: #f1f1f1 !important;
  }

  &-target {
    border: 0;
    box-shadow: none;
  }

  &-connect {
    border: 0 !important;
    background: #505050;
  }

  &-handle {
    top: -8px !important;
    right: -10px !important;
    width: 20px !important;
    height: 20px !important;
    cursor: grab;
    border: 2px solid #505050 !important;
    border-radius: 50%;
    background: white;

    &::before, &::after {
      display: none !important;
    }
  }

  &-touch-area {
    border-radius: 50%;
    background: white;
  }
}
