@import 'src/styles/shared';

.product-preview {
  position: fixed;
  z-index: 105;
  right: 0;
  bottom: 0;
  width: 100%;
  transition: transform 0.5s, opacity 0.5s;
  transform: translate(0, 100%);
  pointer-events: none;
  opacity: 0;
  background: white;

  &.active {
    transform: none;
    pointer-events: auto;
    opacity: 1;
  }
}
