@import "src/styles/shared";

.catalog {
  padding-top: 40px;
  @include mediaTablet {
    padding-top: 60px;
  }
  @include mediaLaptop {
    padding-top: 80px;
  }

  &-container {
    @extend .container;
  }

  &-header {
    @include flex(center);
    margin-bottom: 32px;

    &.mobile {
      display: flex;
      @include mediaLaptop {
        display: none;
      }
    }

    &.desktop {
      display: none;
      @include mediaLaptop {
        position: sticky;
        z-index: 1;
        top: 85px;
        padding: 16px 0;
        background: white;
        display: flex;
        flex-wrap: wrap;
      }
      @include mediaDesktop {
        padding: 20px 0;
      }

      &.scrolled {
        .catalog-title {
          display: none;
        }
      }
    }

    &-button {
      flex: 0 0 auto;
      width: 18px;
      height: 18px;
      margin-left: 0.5em;
    }
  }

  &-filters {
    flex: 1 0 auto;
    display: none;
    @include mediaLaptop {
      @include flex(center);
    }

    [data-select=sorting] {
      margin-left: auto;
    }
  }

  &-title {
    font-size: 12px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-right: auto;
    @include mediaTablet {
      font-size: 18px;
    }
    @include mediaLaptop {
      flex: 0 0 auto;
      width: 100%;
      font-size: 20px;
      margin-bottom: 2em;
    }
  }

  &-layout {
    margin-bottom: 60px;
    @include mediaTabletBg {
      margin-bottom: 72px;
    }
    @include mediaLaptop {
      display: grid;
      grid-template-columns: 1fr 3fr;
      column-gap: 40px;
    }
  }

  &-categories {
    display: none;
    @include mediaLaptop {
      display: block;
    }

    &-title {
      font-size: 17px;
      letter-spacing: 0.02em;
      margin-bottom: 1.25em;
    }

    &-sticky {
      @include flex($d: column);
      position: sticky;
      z-index: 0;
      top: 100px;
    }
  }

  &-category {
    font-size: 15px;
    letter-spacing: 0.02em;
    display: inline-block;
    margin-bottom: 0.75em;
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    row-gap: 20px;
    margin-bottom: 48px;
    @include mediaTablet {
      column-gap: 14px;
      row-gap: 56px;
    }
    @include mediaTabletBg {
      grid-template-columns: repeat(4, 1fr);
    }
    @include mediaLaptop {
      margin-bottom: 72px;
    }

    .mode-row & {
      grid-template-columns: 1fr;
      @include mediaTabletBg {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 32px;
      }
    }
  }

  &-card {
    position: relative;
    z-index: 0;
    min-width: 0;

    &-discount, &-favourite {
      position: absolute;
      z-index: 1;
    }

    &-discount {
      top: 0;
      left: 0;
      background: #766cff;
      color: white;
      border-radius: 12px 0 12px 0;
      font-size: 10px;
      padding: 8px 4px;
      @include mediaLaptop {
        padding: 12px 8px;
        font-size: 15px;
      }

      .mode-row & {
        padding: 12px 8px;
        font-size: 15px;
      }
    }

    &-favourite {
      top: 5px;
      right: 5px;
      width: 18px;
      height: 18px;

      .mode-row & {
        top: 12px;
        right: 12px;
      }
    }

    &-slider {
      position: relative;
      z-index: 0;
      min-width: 0;
      overflow: hidden;
      border-radius: 12px;
      margin-bottom: 4px;
      @include mediaTablet {
        margin-bottom: 8px;
      }
      @include mediaLaptop {
        margin-bottom: 12px;
      }
    }

    &-img {
      display: block;
      width: 100%;
      object-fit: cover;
      object-position: center;
      aspect-ratio: 9 / 13.5;
    }

    &-sizes {
      @include flex(center);
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: 0;
      width: 100%;
      background: rgba(white, 0.75);
      padding: 10px;
      font-size: 10px;
      text-transform: uppercase;
      transform: translate(0, 125%);
      pointer-events: none;
      transition: transform 0.5s;
      @include mediaLaptop {
        font-size: 14px;
        padding: 20px 14px;
      }
      @include mediaDesktop {
        font-size: 15px;
      }

      .mode-row & {
        font-size: 14px;
        padding: 20px 14px;
      }

      &.active {
        transform: none;
        pointer-events: auto;
      }
    }

    &-size {
      flex: 0 0 auto;
      margin-right: 0.5em;
    }

    &-cart {
      margin-left: auto;
      flex: 0 0 auto;
      width: 18px;
      height: 18px;

      .mode-row & {
        width: 22px;
        height: 22px;
      }
    }

    &-title {
      @include lineClamp(3);
      font-size: 12px;
      margin-bottom: 0.5em;

      @include mediaTabletBg {
        font-size: 15px;
      }

      .mode-row & {
        @include mediaDesktop {
          font-size: 18px;
        }
      }
    }

    &-price {
      @include flex(center);
      font-size: 14px;
      margin-bottom: 0.6em;
      @include mediaTabletBg {
        font-size: 17px;
      }

      .mode-row & {
        @include mediaDesktop {
          font-size: 18px;
        }
      }

      &-previous {
        text-decoration: line-through;
        margin-right: 1em;
      }

      &-current {
        color: #ea1c35;
      }
    }

    &-colors {
      @include flex(center);
    }

    &-color {
      flex: 0 0 auto;
      border-radius: 50%;
      width: 14px;
      height: 14px;
      margin-right: 0.5em;
    }

    .swiper {
      &-button {
        &-prev, &-next {
          transition: transform 0.5s;
          pointer-events: none;

          @include mediaOnlyMobileAndTablets {
            display: none;
          }

          &.active {
            transform: translate(0, -50%);
            pointer-events: auto;
          }
        }

        &-prev {
          transform: translate(-100px, -50%);
        }

        &-next {
          transform: translate(100px, -50%);
        }
      }

      &-pagination {
        bottom: 10px;
        @include mediaLaptop {
          bottom: 16px;
        }

        &-bullet {
          width: 16px;
          margin: 0 0.25em;
          @include mediaTablet {
            width: 24px;
          }

          .mode-row & {
            width: 32px;
            @include mediaTablet {
              width: 40px;
            }
          }
        }
      }
    }
  }

  &-more {
    @include flex(center, center);
    border-radius: 4px;
    border: 2px solid #82756e;
    width: 160px;
    height: 43px;
    font-size: 17px;
    margin: 0 auto 30px;
  }

  &-pagination {
    @include flex(center, center);
    width: fit-content;
    margin: 0 auto;
    font-size: 17px;

    &-list {
      @include flex(center);
      margin: 0 10px;
    }

    &-item, &-prev, &-next {
      @include flex(center, center);
      width: 28px;
      height: 28px;
      border-radius: 50%;
      transition: background 0.5s;

      &:hover, &.current {
        background: #e9e9e9;
        color: #51504f;
      }

      span {
      }
    }
  }
}
