@import "src/styles/shared";

.catalog {
  padding-top: 100px;

  &-container {
    @extend .container;
  }

  &-header {
    @include flex(center);
    margin-bottom: 32px;
    //@include mediaTablet {
    //  margin-bottom: 24px;
    //}

    &-button {
      width: 18px;
      height: 18px;
      margin-left: 0.5em;
    }
  }

  &-title {
    color: #82756e;
    font-size: 12px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-right: auto;
    @include mediaTablet {
      font-size: 18px;
    }
    @include mediaLaptop {
      font-size: 20px;
    }
  }

  &-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    row-gap: 20px;
    border-radius: 8px;
    margin-bottom: 60px;
    @include mediaTablet {
      column-gap: 13px;
      row-gap: 56px;
    }
    @include mediaTabletBg {
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 72px;
    }

    &.mode-row {
      grid-template-columns: 1fr;
      @include mediaTabletBg {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 32px;
      }
    }
  }

  &-card {
    position: relative;
    z-index: 0;
    min-width: 0;

    &-discount, &-favourite {
      position: absolute;
      z-index: 1;
    }

    &-discount {
      top: 0;
      left: 0;
      background: #766cff;
      color: white;
      border-radius: 12px 0 12px 0;
      font-size: 10px;
      padding: 8px 4px;

      .mode-row & {
        padding: 12px 8px;
        font-size: 15px;
      }
    }

    &-favourite {
      top: 5px;
      right: 5px;
      width: 18px;
      height: 18px;

      .mode-row & {
        top: 12px;
        right: 12px;
      }
    }

    &-slider {
      position: relative;
      z-index: 0;
      min-width: 0;
      overflow: hidden;
      border-radius: 12px;
      margin-bottom: 4px;
    }

    &-img {
      display: block;
      width: 100%;
      object-fit: cover;
      object-position: center;
      aspect-ratio: 9 / 13.5;
    }

    &-sizes {
      @include flex(center);
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: 0;
      width: 100%;
      background: rgba(white, 0.75);
      padding: 10px;
      color: #82756e;
      font-size: 10px;
      text-transform: uppercase;
      transform: translate(0, 125%);
      pointer-events: none;
      transition: transform 0.5s;

      @include mediaLaptop {
        font-size: 14px;
        padding: 20px 14px;
      }

      .mode-row & {
        font-size: 14px;
        padding: 20px 14px;
      }

      &.active {
        transform: none;
        pointer-events: auto;
      }
    }

    &-size {
      flex: 0 0 auto;
      margin-right: 0.5em;
    }

    &-cart {
      margin-left: auto;
      flex: 0 0 auto;
      width: 18px;
      height: 18px;

      .mode-row & {
        width: 22px;
        height: 22px;
      }
    }

    &-title {
      @include lineClamp(3);
      color: #82756e;
      font-size: 12px;
      margin-bottom: 0.5em;

      @include mediaTabletBg {
        font-size: 15px;
      }
    }

    &-price {
      @include flex(center);
      color: #82756e;
      font-size: 14px;
      margin-bottom: 0.6em;
      @include mediaTabletBg {
        font-size: 17px;
      }

      &-previous {
        text-decoration: line-through;
        margin-right: 1em;
      }

      &-current {
        color: #ea1c35;
      }
    }

    &-colors {
      @include flex(center);
    }

    &-color {
      flex: 0 0 auto;
      border-radius: 50%;
      width: 13px;
      height: 13px;
      margin-right: 8px;
    }

    .swiper-button-prev, .swiper-button-next {
      transition: transform 0.5s;
      pointer-events: none;

      &.active {
        transform: translate(0, -50%);
        pointer-events: auto;
      }
    }

    .swiper-button-prev {
      transform: translate(-100px, -50%);
    }

    .swiper-button-next {
      transform: translate(100px, -50%);
    }
  }

  &-more {
    @include flex(center, center);
    border-radius: 4px;
    border: 2px solid #82756e;
    width: 160px;
    height: 43px;
    color: #82756e;
    font-size: 17px;
    margin: 0 auto 30px;
  }

  &-pagination {
    @include flex(center, center);
    width: fit-content;
    margin: 0 auto 46px;
    color: #82756e;
    font-size: 17px;

    @include mediaTabletBg {
      margin-bottom: 50px;
    }

    &-list {
      @include flex(center);
      margin: 0 10px;
    }

    &-item, &-prev, &-next {
      @include flex(center, center);
      // margin: 0 0.5em;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      transition: background 0.5s;

      &:hover, &.current {
        background: #e9e9e9;
        color: #51504f;
      }

      span {
      }
    }
  }
}
