@use 'src/styles/shared';

.catalog-card {
  min-width: 0;
  position: relative;
  z-index: 0;

  &-discount, &-favourite {
    position: absolute;
    z-index: 1;
  }

  &-discount {
    background: #766cff;
    border-radius: 12px 0 12px 0;
    color: white;
    font-size: 10px;
    left: 0;
    padding: 8px 4px;
    top: 0;
    @include mediaLaptop {
      font-size: 15px;
      padding: 12px 8px;
    }

    .mode-row & {
      font-size: 15px;
      padding: 12px 8px;
    }
  }

  &-favourite {
    @include flex(center, center);
    color: white;
    font-size: 16px;
    opacity: 0.9;
    right: 8px;
    top: 5px;
    @include mediaTablet {
      font-size: 20px;
      top: 8px;
    }

    .mode-row & {
      font-size: 20px;
      right: 12px;
      @include mediaTablet {
        font-size: 24px;
      }
    }
  }

  &-preview {
    color: white;
    font-size: 16px;
    opacity: 0.9;
    position: absolute;
    right: 8px;
    top: 16px + 5px + 8px;
    z-index: 2;
    @include mediaTablet {
      font-size: 20px;
      top: 20px + 8px + 8px;
    }
    @include mediaLaptop {
      display: none;
    }

    .mode-row & {
      font-size: 20px;
      right: 12px;
      top: 20px + 5px + 12px;
      @include mediaTablet {
        font-size: 24px;
        top: 24px + 8px + 12px;
      }
    }
  }

  &-slider {
    border-radius: 12px;
    margin-bottom: 4px;
    min-width: 0;
    overflow: hidden;
    position: relative;
    z-index: 0;
    @include mediaTablet {
      margin-bottom: 8px;
    }
    @include mediaLaptop {
      margin-bottom: 12px;
    }
  }

  &-img {
    aspect-ratio: 9 / 13.5;
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }


  &-sizes {
    @include flex(center);
    background: rgba(white, 0.75);
    bottom: 0;
    font-size: 10px;
    left: 0;
    padding: 10px;
    pointer-events: none;
    position: absolute;
    text-transform: uppercase;
    transform: translate(0, 125%);
    transition: transform 0.5s;
    width: 100%;
    z-index: 1;
    @include mediaLaptop {
      font-size: 14px;
      padding: 20px 14px;
    }
    @include mediaDesktop {
      font-size: 15px;
    }

    .mode-row & {
      font-size: 14px;
      padding: 20px 14px;
    }

    &.active {
      pointer-events: auto;
      transform: none;
    }
  }

  &-size {
    flex: 0 0 auto;
    margin-right: 0.5em;
  }

  &-cart {
    flex: 0 0 auto;
    height: 18px;
    margin-left: auto;
    width: 18px;

    .mode-row & {
      height: 22px;
      width: 22px;
    }
  }

  &-title {
    @include lineClamp(3);
    font-size: 12px;
    margin-bottom: 0.5em;

    @include mediaTabletBg {
      font-size: 15px;
    }

    .mode-row & {
      @include mediaDesktop {
        font-size: 18px;
      }
    }
  }

  &-price {
    @include flex(center);
    font-size: 14px;
    margin-bottom: 0.6em;
    @include mediaTabletBg {
      font-size: 17px;
    }

    .mode-row & {
      @include mediaDesktop {
        font-size: 18px;
      }
    }

    &-previous {
      margin-right: 1em;
      text-decoration: line-through;
    }

    &-current {
      color: #ea1c35;
    }
  }

  &-colors {
    @include flex(center);
  }

  &-color {
    border-radius: 50%;
    flex: 0 0 auto;
    height: 14px;
    margin-right: 0.5em;
    width: 14px;
  }

  .swiper {
    &-button {
      &-prev, &-next {
        pointer-events: none;
        transition: transform 0.5s;

        @include mediaOnlyMobileAndTablets {
          display: none;
        }

        &.active {
          pointer-events: auto;
          transform: translate(0, -50%);
        }
      }

      &-prev {
        transform: translate(-100px, -50%);
      }

      &-next {
        transform: translate(100px, -50%);
      }
    }

    &-pagination {
      bottom: 10px;
      @include mediaLaptop {
        bottom: 16px;
      }

      &-bullet {
        margin: 0 0.25em;
        width: 16px;
        @include mediaTablet {
          width: 24px;
        }

        .mode-row & {
          width: 32px;
          @include mediaTablet {
            width: 40px;
          }
        }
      }
    }
  }


}
