@import 'src/styles/shared';


.catalog {
  padding-top: 40px;
  @include mediaTablet {
    padding-top: 60px;
  }
  @include mediaLaptop {
    padding-top: 80px;
  }

  &-container {
    @include container;
  }

  &-header {
    @include flex(center);
    margin-bottom: 32px;

    &.mobile {
      display: flex;
      @include mediaLaptop {
        display: none;
      }
    }

    &.desktop {
      display: none;
      @include mediaLaptop {
        background: white;
        display: flex;
        flex-wrap: wrap;
        padding: 16px 0;
        position: sticky;
        top: 85px;
        z-index: 1;
      }
      @include mediaDesktop {
        padding: 20px 0;
      }

      &.scrolled {
        .catalog-title {
          display: none;
        }
      }
    }

    &-button {
      flex: 0 0 auto;
      font-size: 18px;
      margin-left: 0.5em;
    }
  }

  &-filters {
    display: none;
    flex: 1 0 auto;
    @include mediaLaptop {
      @include flex(center);
    }

    [data-select=sorting] {
      margin-left: auto;
    }
  }

  &-title {
    font-size: 12px;
    letter-spacing: 0.02em;
    margin-right: auto;
    text-transform: uppercase;
    @include mediaMobileConventional {
      font-size: 14px;
    }
    @include mediaTablet {
      font-size: 18px;
    }
    @include mediaLaptop {
      flex: 0 0 auto;
      font-size: 20px;
      margin-bottom: 2em;
      width: 100%;
    }
  }

  &-layout {
    margin-bottom: 60px;
    @include mediaTabletBg {
      margin-bottom: 72px;
    }
    @include mediaLaptop {
      column-gap: 40px;
      display: grid;
      grid-template-columns: 1fr 3fr;
    }
  }

  &-category {
    display: inline-block;
    font-size: 15px;
    letter-spacing: 0.02em;
    margin-bottom: 0.75em;
  }

  &-cards {
    column-gap: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 48px;
    row-gap: 20px;
    @include mediaTablet {
      column-gap: 14px;
      row-gap: 56px;
    }
    @include mediaTabletBg {
      grid-template-columns: repeat(4, 1fr);
    }
    @include mediaLaptop {
      margin-bottom: 72px;
    }

    .mode-row & {
      grid-template-columns: 1fr;
      @include mediaTabletBg {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 32px;
      }
    }
  }

  &-more {
    @include flex(center, center);
    border: 2px solid #82756e;
    border-radius: 4px;
    font-size: 17px;
    height: 44px;;
    margin: 0 auto 30px;
    width: 160px;
  }

  &-pagination {
    @include flex(center, center);
    font-size: 17px;
    margin: 0 auto;
    width: fit-content;

    &-list {
      @include flex(center);
      margin: 0 10px;
    }

    &-item, &-prev, &-next {
      @include flex(center, center);
      border-radius: 50%;
      height: 28px;
      transition: background 0.5s;
      width: 28px;

      &[href]:hover, &[href].active {
        background: #e9e9e9;
        color: #51504f;
      }

      span {
      }
    }
  }
}
