@import "src/styles/shared";

.catalog-card {
  position: relative;
  z-index: 0;
  min-width: 0;

  &-discount, &-favourite {
    position: absolute;
    z-index: 1;
  }

  &-discount {
    top: 0;
    left: 0;
    background: #766cff;
    color: white;
    border-radius: 12px 0 12px 0;
    font-size: 10px;
    padding: 8px 4px;
    @include mediaLaptop {
      padding: 12px 8px;
      font-size: 15px;
    }

    .mode-row & {
      padding: 12px 8px;
      font-size: 15px;
    }
  }

  &-favourite {
    top: 5px;
    right: 5px;
    width: 18px;
    height: 18px;

    .mode-row & {
      top: 12px;
      right: 12px;
    }
  }

  &-slider {
    position: relative;
    z-index: 0;
    min-width: 0;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 4px;
    @include mediaTablet {
      margin-bottom: 8px;
    }
    @include mediaLaptop {
      margin-bottom: 12px;
    }
  }

  &-img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 9 / 13.5;
  }

  &-sizes {
    @include flex(center);
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(white, 0.75);
    padding: 10px;
    font-size: 10px;
    text-transform: uppercase;
    transform: translate(0, 125%);
    pointer-events: none;
    transition: transform 0.5s;
    @include mediaLaptop {
      font-size: 14px;
      padding: 20px 14px;
    }
    @include mediaDesktop {
      font-size: 15px;
    }

    .mode-row & {
      font-size: 14px;
      padding: 20px 14px;
    }

    &.active {
      transform: none;
      pointer-events: auto;
    }
  }

  &-size {
    flex: 0 0 auto;
    margin-right: 0.5em;
  }

  &-cart {
    margin-left: auto;
    flex: 0 0 auto;
    width: 18px;
    height: 18px;

    .mode-row & {
      width: 22px;
      height: 22px;
    }
  }

  &-title {
    @include lineClamp(3);
    font-size: 12px;
    margin-bottom: 0.5em;

    @include mediaTabletBg {
      font-size: 15px;
    }

    .mode-row & {
      @include mediaDesktop {
        font-size: 18px;
      }
    }
  }

  &-price {
    @include flex(center);
    font-size: 14px;
    margin-bottom: 0.6em;
    @include mediaTabletBg {
      font-size: 17px;
    }

    .mode-row & {
      @include mediaDesktop {
        font-size: 18px;
      }
    }

    &-previous {
      text-decoration: line-through;
      margin-right: 1em;
    }

    &-current {
      color: #ea1c35;
    }
  }

  &-colors {
    @include flex(center);
  }

  &-color {
    flex: 0 0 auto;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin-right: 0.5em;
  }

  .swiper {
    &-button {
      &-prev, &-next {
        transition: transform 0.5s;
        pointer-events: none;

        @include mediaOnlyMobileAndTablets {
          display: none;
        }

        &.active {
          transform: translate(0, -50%);
          pointer-events: auto;
        }
      }

      &-prev {
        transform: translate(-100px, -50%);
      }

      &-next {
        transform: translate(100px, -50%);
      }
    }

    &-pagination {
      bottom: 10px;
      @include mediaLaptop {
        bottom: 16px;
      }

      &-bullet {
        width: 16px;
        margin: 0 0.25em;
        @include mediaTablet {
          width: 24px;
        }

        .mode-row & {
          width: 32px;
          @include mediaTablet {
            width: 40px;
          }
        }
      }
    }
  }
}
