@import "src/styles/shared";

.filters {
  &-header {
    @include flex(center, space-between);
    padding: $containerPaddingMobile;
    @include mediaLaptop {
      padding-left: 0;
    }
  }

  &-body {
    margin-bottom: 40px
  }

  .details {
    @include flex($d: column);

    &-summary {
      &,
      &-content {
        @include flex(center);
        flex: 1 0 auto;
        width: auto;
      }

      padding: 24px $containerPaddingMobile;
      border-top: 2px solid #e9e9e9;
      font-size: 17px;
      transition: background-color 0.25s;
      @include mediaLaptop {
        font-size: 18px;
        padding-left: 0;
      }

      &:hover {
        background: #f2f2f2;
      }
    }

    &-button {
      margin-left: auto;
      order: 1;
    }

    &-selected {
      @include lineClamp(1);
      color: #c7b29c;
      font-size: 13px;
      letter-spacing: 0.02em;
      @include mediaLaptop {
        font-size: 14px;
      }
    }

    &-body {
      @include flex($d: column);
      font-size: 14px;
      letter-spacing: 0.02em;
      padding: 0 0 1em;
      @include mediaTablet {
        font-size: 16px;
      }
    }
  }

  label {
    @include flex(center);
    width: fit-content;
    margin-bottom: 0.5em;
  }

  &-buttons {
    @include flex(center);
    margin-top: auto;
  }

  &-reset, &-submit {
    width: 142px;
    height: 43px;
    border-radius: 4px;
  }

  &-reset {
    background: white;
    border: 2px solid #c7b29c;
    color: #c7b29c;
    margin-right: 10px;
    @include mediaLaptop {
      margin-right: 20px;
    }
  }

  &-submit {
    background: #c7b29c;
    color: white;
  }

  //[type=checkbox], [type=radio] {
  //  margin-right: 0.75em;
  //}
}
