@use 'src/styles/shared' as Shared;

.filters {
  @include Shared.mediaOnlyMobileAndTablets {
    background: white;
    display: block;
    height: 100%;
    left: 0;
    overflow-y: auto;
    pointer-events: none;
    position: fixed;
    top: 0;
    transform: translate(-100%, 0);
    transition: transform 0.5s;
    width: 320px;
    z-index: 105;

    &.active {
      pointer-events: auto;
      transform: none;
    }

    @include Shared.scrollbar;
  }

  &-sticky, &-mobile {
    @include Shared.flex($d: column);
    @include Shared.mediaOnlyMobileAndTablets {
      height: 100%;
    }
  }

  &-sticky {
    @include Shared.mediaLaptop {
      position: sticky;
      top: 100px;
      z-index: 0;
    }
  }

  &-mobile {
    @include Shared.mediaLaptop {
      display: none;
    }
  }


  &-header {
    @include Shared.flex(center, space-between);
    font-size: 12px;
    letter-spacing: 0.02px;
    padding: Shared.$containerPaddingMobile;
    text-transform: uppercase;
    @include Shared.mediaLaptop {
      display: none;
      padding-left: 0;
    }
  }

  &-close {
    @include Shared.mediaLaptop {
      display: none;
    }
  }

  &-body {
    margin-bottom: 40px;
  }

  .details {
    @include Shared.flex($d: column);

    &-summary {
      @include Shared.flex(center);
      border-top: 1px solid #e9e9e9;
      flex: 1 0 auto;
      font-size: 17px;
      height: 70px;
      padding: 0 Shared.$containerPaddingMobile;
      transition: background-color 0.25s;
      width: auto;

      @include Shared.mediaLaptop {
        font-size: 18px;
        padding-left: 0;
      }

      //@media screen and (any-hover: hover) {
      //  &:hover {
      //    background: #e9e9e9;
      //  }
      //}

      &-content {
        @include Shared.flex(center);
        flex: 1 0 auto;
        width: auto;
      }
    }

    &-button {
      margin-left: auto;
      order: 1;
    }

    &-selected {
      @include Shared.lineClamp(1);
      color: #c7b29c;
      font-size: 13px;
      letter-spacing: 0.02em;
      @include Shared.mediaLaptop {
        font-size: 14px;
      }
    }

    &-body {
      @include Shared.flex($d: column);
      font-size: 14px;
      letter-spacing: 0.02em;
      padding: Shared.$containerPaddingMobile;
      @include Shared.mediaTablet {
        font-size: 16px;
      }
    }
  }

  label {
    @include Shared.flex(center);
    margin-bottom: 0.5em;
    width: fit-content;
  }

  &-buttons {
    @include Shared.flex(center);
    margin-top: auto;
    @include Shared.mediaOnlyMobileAndTablets {
      background: white;
      bottom: 0;
      box-shadow: 0 -2px 4px rgba(81, 80, 79, 0.25);
      padding: (Shared.$containerPaddingMobile * 2) Shared.$containerPaddingMobile;
      position: sticky;
      z-index: 1;
    }
  }

  &-reset, &-submit {
    border-radius: 4px;
    height: 44px;;
    width: 142px;
  }

  &-reset {
    background: white;
    border: 2px solid #c7b29c;
    color: #c7b29c;
    margin-right: 10px;
    @include Shared.mediaLaptop {
      margin-right: 20px;
    }
  }

  &-submit {
    background: #c7b29c;
    color: white;
  }

  // для десктопа
  &-desktop {
    display: none;
    @include Shared.mediaLaptop {
      @include Shared.flex($d: column);
    }
  }

  &-title {
    color: #82756e;
    font-size: 17px;
    letter-spacing: 0.02em;
    margin-bottom: 1.25em;
  }

  &-link {
    font-size: 15px;
    letter-spacing: 0.02em;
    margin-bottom: 1em;

    &:hover,
    &.active {
      color: #51504f;
    }
  }
}
