@import "src/styles/shared";

.filters {
  @include mediaOnlyMobileAndTablets {
    position: fixed;
    z-index: 105;
    top: 0;
    left: 0;
    width: 320px;
    height: 100%;
    background: white;
    display: block;
    transform: translate(-100%, 0);
    pointer-events: none;
    overflow-y: auto;
    transition: transform 0.5s;

    &.active {
      pointer-events: auto;
      transform: none;
    }

    @media screen and (any-hover: hover) {
      &::-webkit-scrollbar {
        width: 10px
      }
      &::-webkit-scrollbar-track {
        background: white;
      }
      &::-webkit-scrollbar-thumb {
        background: #51504f;
        border: 3px solid white;
      }
    }
  }

  &-sticky {
    @include mediaOnlyMobileAndTablets {
      height: 100%;
      position: static;
    }
  }

  &-header {
    @include flex(center, space-between);
    padding: $containerPaddingMobile;
    font-size: 12px;
    letter-spacing: 0.02px;
    text-transform: uppercase;
    @include mediaLaptop {
      padding-left: 0;
    }
  }

  &-body {
    margin-bottom: 40px
  }

  .details {
    @include flex($d: column);

    &-summary {
      height: 70px;
      @include flex(center);
      flex: 1 0 auto;
      width: auto;
      padding: 0 $containerPaddingMobile;
      border-top: 2px solid #e9e9e9;
      font-size: 17px;
      transition: background-color 0.25s;
      @include mediaLaptop {
        font-size: 18px;
        padding-left: 0;
      }

      &:hover {
        background: #f2f2f2;
      }

      &-content {
        @include flex(center);
        flex: 1 0 auto;
        width: auto;
      }
    }

    &-button {
      margin-left: auto;
      order: 1;
    }

    &-selected {
      @include lineClamp(1);
      color: #c7b29c;
      font-size: 13px;
      letter-spacing: 0.02em;
      @include mediaLaptop {
        font-size: 14px;
      }
    }

    &-body {
      @include flex($d: column);
      font-size: 14px;
      letter-spacing: 0.02em;
      padding: $containerPaddingMobile;
      @include mediaTablet {
        font-size: 16px;
      }
    }
  }

  label {
    @include flex(center);
    width: fit-content;
    margin-bottom: 0.5em;
  }

  &-buttons {
    @include flex(center);
    margin-top: auto;
    @include mediaOnlyMobileAndTablets {
      padding: ($containerPaddingMobile * 2) $containerPaddingMobile;
      box-shadow: 0 -2px 4px rgba(81, 80, 79, 0.25);
    }
  }

  &-reset, &-submit {
    width: 142px;
    height: 43px;
    border-radius: 4px;
  }

  &-reset {
    background: white;
    border: 2px solid #c7b29c;
    color: #c7b29c;
    margin-right: 10px;
    @include mediaLaptop {
      margin-right: 20px;
    }
  }

  &-submit {
    background: #c7b29c;
    color: white;
  }
}
