@import 'src/styles/shared';

.appointment {
  &-form {
    @include flex(center, $d: column);
    margin-bottom: 56px;

    &-message {
      font-size: 14px;
      line-height: 1.4;
      margin-bottom: 20px;
      color: #80756e;
    }

    &-policy {
      font-size: 13px;
      line-height: 1.4;
      width: 272px;
      text-align: center;

      a {
        text-decoration: underline;
      }
    }
  }

  &-social {
    @include flex(center, center);
    font-size: 24px;
    flex: 0 0 auto;
    width: 52px;
    height: 52px;
    color: white;
    border-radius: 4px;
    background: #a69d97;
  }

  &-label {
    @include flex($d: column);
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 18px;

    &-text {
      font-size: 14px;
      display: inline-block;
      margin-bottom: 4px;
      color: #ada49e;
    }
  }

  &-input {
    @include inputGrey;
    padding: 0 12px;
  }

  &-textarea {
    @include inputGrey;
    height: 200px;
    padding: 12px;
  }

  &-submit {
    @include buttonPurple;
    margin: (36px - 18px) 0 18px;
  }
}
