@use 'src/styles/shared' as *;


.footer {
  overflow: hidden;

  a {
    display: block;
    width: fit-content;
  }

  .details {
    padding-left: 28px;
  }
}

.fm {
  @include mediaTablet {
    display: none;
  }

  &-top, &-middle, &-bottom {
    border-top: 1px solid #e9e9e9;
  }

  &-top {
    @include container;
    padding-top: 46px;
    padding-bottom: 46px;
  }

  &-middle {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: $containerPaddingMobile * 1.5;
    padding: 0 ($containerPaddingMobile * 3);
  }

  &-middle, &-bottom {
    @include container;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .form-main {
    margin-bottom: 18px;
  }

  @include detailsMobile;
}

.ft {
  display: none;
  @include mediaTablet {
    display: block;
  }
  @include mediaLaptop {
    display: none;
  }

  &-top, &-middle, &-bottom {
    @include container;
    // padding-top: 48px;
    // padding-bottom: 48px;
    border-top: 1px solid #e9e9e9;
  }

  &-top, &-middle, &-bottom {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  &-middle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &-title {
    font-size: 18px;
    display: inline-block;
    width: fit-content;
    margin-bottom: 36px;
  }

  &-links {
    font-size: 16px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;

    a, button {
      font-size: 14px;
    }
  }

  .form {
    @include flex($w: wrap);

    &-label, &-main {
      flex: 0 0 auto;
    }

    &-label {
      line-height: 1;
      width: 100%;
      margin-bottom: 32px;
    }

    &-main {
      width: 380px;
      margin-right: 24px;
      @include mediaTabletBg {
        margin-right: 28px;
      }
    }

    &-warning {
      max-width: 280px;
    }
  }
}

.fd {
  @include container;
  display: none;
  @include mediaLaptop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 100px;
    padding-top: 48px;
    padding-bottom: 72px;
  }

  &-col {
  }

  &-title {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 36px;
  }

  &-links {
    @include flex($d: column);
    font-size: 17px;

    a, button {
      margin-bottom: 1em;
    }
  }

  .form {
    &-main, &-warning {
      width: 300px;
    }

    &-main {
      margin-bottom: 20px;
    }
  }
}
