@use 'src/styles/shared' as *;

.footer {
  $formWidthLaptop: 300px;
  $formWidthDesktop: 340px;

  overflow: hidden;
  @include mediaLaptop {
    border-top: 1px solid #e9e9e9;
    padding-top: 48px;
    padding-bottom: 72px;
  }

  &-container {
    @include mediaLaptop {
      @include container;
      @include flex($w: wrap);
      column-gap: 100px;
    }
  }

  &-form {
    min-width: 0;
    border-top: 1px solid #e9e9e9;
    padding: 46px 14px;
    @include mediaTablet {
      padding: 48px 40px;
    }
    @include mediaLaptop {
      flex: 0 0 auto;
      width: $formWidthLaptop;
      border-top: 0;
      // margin-right: 100px;
      padding: 0;
    }
    @include mediaDesktop {
      width: $formWidthDesktop;
    }

    &-header {
      font-size: 16px;
      display: inline-block;
      margin-bottom: 18px;
      @include mediaTablet {
        font-size: 18px;
        margin-bottom: 32px;
      }
      @include mediaLaptop {
        font-size: 20px;
      }
    }

    &-field {
      @include mediaTablet {
        @include flex;
        position: relative;
        z-index: 0;
        column-gap: 24px;
      }
      @include mediaLaptop {
        display: block;
      }

      &-row {
        @include flex(center);
        margin-bottom: 4px;
        @include mediaTablet {
          flex: 0 0 auto;
          width: 380px;
        }
        @include mediaLaptop {
          width: $formWidthLaptop;
        }
        @include mediaDesktop {
          width: $formWidthDesktop;
        }
      }
    }

    &-input {
      @include inputGrey;
      display: block;
      flex: 1 0 auto;
      border-right: 0;
      border-radius: 4px 0 0 4px;
    }

    &-submit {
      @include buttonSquare;
      flex: 0 0 auto;
      border-radius: 0 4px 4px 0;
    }

    &-error {
      font-size: 13px;
      line-height: 1;
      display: block;
      // height: 20px;
      transition: opacity 0.33s, transform 0.33s;
      transform: translate(-100%, 0);
      opacity: 0;
      color: #ea1c35;
      margin-bottom: 4px;
      @include mediaTablet {
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        width: 380px;
      }
      @include mediaLaptop {
        position: static;
        width: $formWidthLaptop;
      }
      @include mediaDesktop {
        width: $formWidthDesktop;
      }

      &._active {
        transform: none;
        opacity: 1;
      }
    }

    &-caption {
      font-size: 13px;
    }

    a {
      text-decoration: underline;
    }
  }

  &-links {
    display: grid;
    min-width: 0;
    border-top: 1px solid #e9e9e9;
    padding: 28px 14px;
    grid-template-rows: 1fr;
    row-gap: 21px;
    @include mediaTablet {
      display: grid;
      padding: 48px 40px;
      grid-template-columns: repeat(3, 1fr);
    }
    @include mediaLaptop {
      flex: 0 0 auto;
      width: calc(100% - $formWidthLaptop - 100px);
      border-top: 0;
      padding: 0;
    }
    @include mediaDesktop {
      width: calc(100% - $formWidthDesktop - 100px);
    }
  }

  &-credentials {
    border-top: 1px solid #e9e9e9;
    padding: 28px 14px;
    @include mediaTablet {
      padding: 48px 40px;
    }
    @include mediaLaptop {
      position: relative;
      z-index: 0;
      flex: 0 0 auto;
      width: 100%;
      padding: 20px 0 0;
      border-top: 0;
      // margin: 0 ($containerPaddingLaptop * -1);
      // padding: 20px $containerPaddingLaptop 0;
    }
    // @include mediaDesktop {
    //margin: 0 ($containerPaddingDesktop * -1);
    //padding: 20px $containerPaddingDesktop 0;
    // }

    &::before {
      content: ' ';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 50%;
      background: #e9e9e9;
      height: 1px;
      width: 100vw;
      transform: translate(-50%, 0);
      display: none;
      @include mediaLaptop {
        display: inline-block;
      }
    }
  }

  a {
    display: inline-block;
    width: fit-content;
  }

  @include detailsMobile;

  .details {
    min-width: 0;
    min-height: 0;
    padding-left: 28px;
    @include mediaTablet {
      padding-left: 0;
    }

    &-summary {
      @include mediaTablet {
        font-size: 18px;
        margin-bottom: 36px;
      }
      @include mediaLaptop {
        font-size: 20px;
      }
    }

    &-button {
      @include mediaTablet {
        display: none;
      }
    }

    &-body {
      @include mediaTablet {
        display: flex !important;
        padding-top: 0;
      }
      @include mediaLaptop {
        font-size: 17px;
      }
    }
  }
}
