@use 'src/styles/shared' as Shared;

.menu {
  background: white;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: transform 0.5s;

  @include Shared.mediaOnlyMobileAndTablets {
    height: 100%;
    overflow-y: auto;
    transform: translate(calc(-100% - 100px), 0);
    width: 320px;
    z-index: 105;
    @include Shared.scrollbar;
  }

  @include Shared.mediaLaptop {
    box-shadow: 12px 12px 24px 0 rgba(black, 0.1);
    overflow: unset;
    padding: 56px 0;
    transform: translate(0, calc(-100% - 100px));
    width: 100%;
    z-index: 99;
  }

  &.active {
    pointer-events: auto;
    transform: none;
  }

  &-container {
    @extend .container;
    @include Shared.mediaOnlyMobileAndTablets {
      height: 100%;
      padding: 0;
    }
  }

  &-desktop {
    display: none;
    @include Shared.mediaLaptop {
      @include Shared.flex($j: space-between);
    }
  }

  &-columns {
    @include Shared.flex;
    @include Shared.mediaLaptop {
      margin-bottom: 150px;
    }
  }

  &-column {
    @include Shared.flex($d: column);
    margin-right: 150px;

    &:last-child {
      @include Shared.mediaLaptop {
        margin-right: 100px;
      }
    }
  }

  &-link {
    display: inline-block;
    margin-bottom: 1em;
  }

  &-left {
    @include Shared.flex($d: column);
    color: #80756e;
  }

  &-form {
    margin-top: auto;
    max-width: none;

    &-layout {
      @include Shared.mediaLaptop {
        @include Shared.flex(center);
      }
    }

    .form-label {
      margin-bottom: 18px;
      @include Shared.mediaLaptop {
        margin-bottom: 20px;
      }
    }

    .form-main {
      margin-bottom: 10px;

      @include Shared.mediaLaptop {
        margin: 0 22px 0 0;
      }
    }
  }

  &-categories {
    @include Shared.flex;
  }

  &-category {
    flex: 0 0 auto;
    height: fit-content;
    margin-right: 12px;
    position: relative;
    width: fit-content;
    z-index: 0;

    a {
      display: inline-block;
    }

    &-img {
      border-radius: 8px;
      @include Shared.mediaLaptop {
        height: 286px;
        width: 286px;
      }
      @include Shared.mediaDesktop {
        height: 408px;
        width: 408px;
      }
    }

    &-title {
      bottom: 40px;
      color: white;
      font-size: 20px;
      font-style: normal;
      left: 50%;
      letter-spacing: 1px;
      position: absolute;
      text-align: center;
      transform: translate(-50%, 0);
      width: 100%;
      z-index: 1;
    }
  }
}
