@import "src/styles/shared";

.menu {
  position: fixed;
  z-index: 105;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  transition: transform 0.5s;
  pointer-events: none;
  transform: translate(calc(-100% - 100px), 0);
  padding: 15px 0 30px;

  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  min-height: 100%;

  @include mediaOnlyTablets {
    padding: 0;
    height: 100%;
    max-width: 320px;
    @media screen and (any-hover: hover) {
      &::-webkit-scrollbar {
        width: 10px
      }
      &::-webkit-scrollbar-track {
        background: white;
      }
      &::-webkit-scrollbar-thumb {
        background: #51504f;
        border: 3px solid white;
      }
    }
  }

  @include mediaLaptop {
    transform: translate(0, calc(-100% - 100px));
    z-index: 99;
    overflow: unset;
    min-height: 0;
    max-height: none;
    padding: 56px 0;
  }

  &.active {
    pointer-events: auto;
    transform: none;
  }

  &-container {
    @extend .container;
    @include mediaOnlyTablets {
      padding: 0 $containerPaddingMobile;
      height: 100%;
    }
  }

  &-desktop {
    display: none;
    @include mediaLaptop {
      @include flex($j: space-between);
    }
  }

  &-mobile {
    @include flex($d: column);
    @include mediaOnlyTablets {
      min-height: 100%;
    }
    @include mediaLaptop {
      display: none;
    }

    &-top {
      padding-bottom: 10px;
      border-bottom: 2px solid #e9e9e9;
      margin-bottom: 14px;
      @include mediaOnlyTablets {
        padding: 15px 0;
      }
    }

    &-button-close {
      width: 18px;
      height: 18px;
    }

    $this: &;

    &-main {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 15px;
      padding-bottom: 40px;

      & > #{$this}-link {
        margin-left: 24px;
      }
    }

    &-link {
      color: #82756e;
      font-size: 17px;
    }

    .form {
      @include mediaOnlyTablets {
        padding: 28px 0;
      }
    }
  }

  &-columns {
    @include flex;
    @include mediaLaptop {
      margin-bottom: 150px;
    }
  }

  &-column {
    @include flex($d: column);
    margin-right: 150px;

    &:last-child {
      @include mediaLaptop {
        margin-right: 100px;
      }
    }
  }

  &-link {
    display: inline-block;
    margin-bottom: 1em;
  }

  &-left {
    @include flex($d: column);
    color: #80756e;
  }

  &-form {
    color: #82756e;
    max-width: none;
    margin-top: auto;
    padding-top: 28px;
    border-top: 2px solid #e9e9e9;

    @include mediaLaptop {
      padding: 0;
      border-top: 0;
    }

    &-layout {
      @include mediaLaptop {
        @include flex(center);
      }
    }

    .form-label {
      margin-bottom: 18px;
      @include mediaLaptop {
        margin-bottom: 20px;
      }
    }

    .form-main {
      margin-bottom: 10px;

      @include mediaLaptop {
        margin: 0 22px 0 0;
      }
    }
  }

  &-categories {
    @include flex;
  }

  &-category {
    position: relative;
    z-index: 0;
    flex: 0 0 auto;
    width: fit-content;
    height: fit-content;
    margin-right: 12px;

    a {
      display: inline-block;
    }

    &-img {
      border-radius: 8px;
      @include mediaLaptop {
        width: 286px;
        height: 286px;
      }
      @include mediaDesktop {
        width: 408px;
        height: 408px;
      }
    }

    &-title {
      position: absolute;
      z-index: 1;
      left: 50%;
      bottom: 40px;
      width: 100%;
      transform: translate(-50%, 0);
      color: white;
      font-size: 20px;
      text-align: center;
      font-style: normal;
      letter-spacing: 1px;
    }
  }

  &-overlay {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#51504f, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;

    &.active {
      opacity: 1;
      pointer-events: auto;
      //@include mediaLaptop {
      //  z-index: 98;
      //}
    }
  }
}
