@use 'src/styles/shared' as Shared;

.menu-mobile {
  @include Shared.flex($d: column);
  min-height: 100%;
  @include Shared.mediaLaptop {
    display: none;
  }

  &-header, &-body {
    border-bottom: 2px solid #e9e9e9;
  }

  &-header, &-body, &-footer {
    padding: Shared.$containerPaddingMobile;
  }

  &-footer {
    margin-top: auto;
  }

  &-close {
    height: 18px;
    width: 18px;
  }

  &-links {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 (Shared.$containerPaddingMobile * 2);
    row-gap: Shared.$containerPaddingMobile * 1.5;
  }

  @include Shared.detailsMobile;

  .form {
    @include Shared.mediaOnlyTablets {
      padding: 28px 0;
    }
  }
}

