@import "src/styles/shared";

.menu {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  transition: transform 0.5s;
  pointer-events: none;

  @include mediaOnlyMobileAndTablets {
    z-index: 105;
    width: 320px;
    transform: translate(calc(-100% - 100px), 0);
    // padding: $containerPaddingMobile 0 ($containerPaddingMobile * 2);
    overflow-y: auto;
    height: 100%;
    @include scrollbar;
  }

  @include mediaLaptop {
    transform: translate(0, calc(-100% - 100px));
    z-index: 99;
    overflow: unset;
    padding: 56px 0;
    width: 100%;
    box-shadow: 12px 12px 24px 0 rgba(black, 0.1);
  }

  &.active {
    pointer-events: auto;
    transform: none;
  }

  &-container {
    @extend .container;
    @include mediaOnlyMobileAndTablets {
      padding: 0;
      height: 100%;
    }
  }

  &-desktop {
    display: none;
    @include mediaLaptop {
      @include flex($j: space-between);
    }
  }

  &-columns {
    @include flex;
    @include mediaLaptop {
      margin-bottom: 150px;
    }
  }

  &-column {
    @include flex($d: column);
    margin-right: 150px;

    &:last-child {
      @include mediaLaptop {
        margin-right: 100px;
      }
    }
  }

  &-link {
    display: inline-block;
    margin-bottom: 1em;
  }

  &-left {
    @include flex($d: column);
    color: #80756e;
  }

  &-form {
    max-width: none;
    margin-top: auto;
    
    &-layout {
      @include mediaLaptop {
        @include flex(center);
      }
    }

    .form-label {
      margin-bottom: 18px;
      @include mediaLaptop {
        margin-bottom: 20px;
      }
    }

    .form-main {
      margin-bottom: 10px;

      @include mediaLaptop {
        margin: 0 22px 0 0;
      }
    }
  }

  &-categories {
    @include flex;
  }

  &-category {
    position: relative;
    z-index: 0;
    flex: 0 0 auto;
    width: fit-content;
    height: fit-content;
    margin-right: 12px;

    a {
      display: inline-block;
    }

    &-img {
      border-radius: 8px;
      @include mediaLaptop {
        width: 286px;
        height: 286px;
      }
      @include mediaDesktop {
        width: 408px;
        height: 408px;
      }
    }

    &-title {
      position: absolute;
      z-index: 1;
      left: 50%;
      bottom: 40px;
      width: 100%;
      transform: translate(-50%, 0);
      color: white;
      font-size: 20px;
      text-align: center;
      font-style: normal;
      letter-spacing: 1px;
    }
  }
}
