@use 'src/styles/shared' as *;

.info {
  &-container {
    @include container;
    @include mediaLaptop {
      display: grid;
      grid-template-columns: 1fr 3fr;
      column-gap: 60px;
    }
  }

  &-title {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin: 1em 0;
    @include mediaTablet {
      font-size: 18px;
    }
    @include mediaTabletBg {
      font-size: 20px;
    }
  }

  &-description {
    font-size: 14px;
    line-height: 1.4;
    margin: 20px 0;
    @include mediaTablet {
      font-size: 16px;
      margin: 32px 0;
    }
    @include mediaLaptop {
      font-size: 18px;
    }
  }

  &-form-test {
    // @include flex($d: column);
    font-size: 14px;

    label {
      @include flex($d: column);
      margin-bottom: 16px;
    }

    input {
      @include inputGrey;
    }

    span {
      margin-bottom: 8px;
    }

    button {
      @include buttonPurple;
      margin: 20px 0;
    }
  }
}
