@import "src/styles/shared";

.hero {
  overflow: hidden;

  &-container {
  }

  &-slider {
  }

  &-slide {
    position: relative;
    z-index: 0;

    &-img {
      display: block;
      width: 100%;
    }
  }
}

.swiper-pagination {
  @include flex(center, center);
  position: absolute;
  z-index: 1;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%, 0);

  @include mediaLaptop {
    bottom: 30px;
  }

  &-bullet {
    display: inline-block;
    width: 46px;
    height: 2px;
    background: white;
    opacity: 0.8;
    transition: background-color 0.5s, opacity 0.5s;
    margin: 0 10px;
    cursor: pointer;

    @include mediaLaptop {
      width: 80px;
    }

    &-active {
      background: #82756e;
      opacity: 1;
    }
  }
}
