@import 'src/styles/shared';

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  padding: 12px 0;
  transition: background-color 0.5s, backdrop-filter 0.5s, border-color 0.5s;
  color: white;
  border-bottom: 2px solid transparent;
  @include mediaMobileConventional {
    padding: 16px 0;
  }
  @include mediaTablet {
    padding: 20px 0;
  }

  &.hovered, &.scrolled, &.active {
    color: #938781;
    border-color: #f1f1f1;
    background: white;
  }

  &-container {
    padding: 0 ($containerPaddingMobile - 6px);
    @include mediaTablet {
      padding: 0 ($containerPaddingTablet - 11px);
    }
    @include mediaLaptop {
      @include container;
    }

    // @include mediaDesktop {
    //   max-width: 1920px;
    //   margin: 0 auto;
    //   padding: 0 $containerPaddingDesktop;
    // }
  }

  &-desktop {
    display: none;

    @include mediaLaptop {
      @include flex(center);
      // margin: 0 auto;
      // padding: 0 48px;
    }
  }

  &-links {
    font-size: 17px;
    letter-spacing: 0.34px;
    margin-right: auto;
  }

  &-link {
    display: inline-block;
    margin-right: 1em;

    &:hover {
      color: #6f6e6d;
    }
  }

  &-logo {
    font-size: 20px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    display: inline-block;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    @include mediaMobileConventional {
      font-size: 22px;
    }
    @include mediaTablet {
      font-size: 32px;
    }
    //@include mediaLaptop {
    //  font-size: 32px;
    //}
  }

  &-buttons {
    @include flex(center);
    margin-left: auto;
  }


}
