@use 'src/styles/shared' as *;

.search {
  &-results {
    position: relative;
    z-index: 0;
    display: none;
    @include mediaLaptop {
      display: block;
    }

    &::before {
      content: ' ';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.25s;
      pointer-events: none;
      opacity: 0;
      background: white url('src/assets/img/loading.gif') no-repeat center 150px;
      @include mediaDesktop {
        background-position-y: 240px;
      }
    }

    &.loading {
      &::before {
        pointer-events: auto;
        opacity: 1;
      }
    }

    &-title {
      font-size: 18px;
      margin-bottom: 18px;
    }

    &-button {
      @include buttonBrown;
      width: 300px;
      margin: 0 auto;
    }
  }

  &-cards {
    @include mediaLaptop {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 14px;
      row-gap: 32px;
      margin-bottom: 32px;
    }
    @include mediaDesktop {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &-card {
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;

    &-favourite {
      font-size: 20px;
      position: absolute;
      z-index: 1;
      top: 10px;
      right: 10px;
      color: white;
    }

    &-img {
    }

    &-title {
      font-size: 15px;
    }

    &-price {
      font-size: 17px;
    }

    &-colors {
      @include flex(center);
    }

    &-color {
      width: 11px;
      height: 11px;
      margin-right: 4px;
      border-radius: 50%;
    }
  }
}


