@use 'src/styles/shared' as *;

.search {
  @include scrollbar;
  position: fixed;
  z-index: 105;
  top: 0;
  left: 0;
  overflow-y: auto;
  width: 320px;
  height: 100%;
  transition: transform 0.5s;
  transform: translate(calc(-100% - 100px), 0);
  pointer-events: none;
  background: white;
  @include mediaTablet {
    width: 100%;
    height: 440px;
    transform: translate(0, calc(-100% - 100px));
  }
  @include mediaTabletBg {
    @include hoverableDevice {
      overflow: hidden;
    }
  }
  @include mediaLaptop {
    z-index: 130;
    overflow: hidden;
    height: auto;
    box-shadow: 12px 12px 24px 0 rgba(black, 0.1);
  }

  &.active {
    transform: translate3d(0, 0, 0);
    pointer-events: auto;
  }

  &-header {
    @include flex(center);
    padding: 14px;
    border-bottom: 2px solid #e9e9e9;
    @include mediaLaptop {
      padding: 24px;
    }
    @include mediaDesktop {
      padding: 30px 24px;
    }
  }

  &-body {
    @include scrollbar;
    padding: 20px 14px (56px - 14px - 14px) 40px;
    @include mediaTablet {
      padding: 24px 40px (56px - 14px);
    }
    @include mediaLaptop {
      display: grid;
      overflow-y: scroll;
      grid-template-columns: 3fr 1fr;
      column-gap: 96px;
      max-height: 650px - 74px;
      padding: 40px 48px 56px;
    }
    @include mediaDesktop {
      column-gap: 112px;
      max-height: 750px - 80px;
      padding: 40px 64px 56px;
    }

    &-aside {
      @include mediaTablet {
        @include flex($w: wrap);
      }
      @include mediaLaptop {
        position: sticky;
        z-index: 1;
        top: 0;
        display: block;
        height: fit-content;
      }
    }
  }

  &-footer {
    padding: 0 14px;
    @include mediaTablet {
      padding-bottom: 46px;
    }
    @include mediaLaptop {
      display: none;
    }
  }

  &-recommended, &-categories {
    @include flex($d: column);
    margin-bottom: 14px;
    @include mediaTablet {
      flex: 0 0 auto;
      width: 25%;
      margin-bottom: 0;
    }
    @include mediaLaptop {
      width: auto;
      margin-bottom: (46px - 14px);
    }
  }
}
