@use 'src/styles/shared' as Shared;
@use 'src/styles/ui';

.promo {
  overflow: hidden;
  padding: 60px 0;
  @include Shared.mediaTablet {
    padding: 72px 0 80px
  }
  @include Shared.mediaTabletBg {
    padding: 80px 0;
  }
  @include Shared.mediaLaptop {
    padding: 110px 0;
  }
  @include Shared.mediaDesktop {
    padding: 110px 0;
  }

  &-container {
    @extend .container;
  }

  &-main {
    margin-bottom: 30px;
    @include Shared.mediaTabletBg {
      @include Shared.flex(center, space-between);
      margin-bottom: 60px;
    }
    @include Shared.mediaLaptop {
      margin-bottom: 80px;
    }
  }

  &-text {
    margin-bottom: 58px;
    @include Shared.mediaTablet {
      margin-bottom: 80px;
    }
    @include Shared.mediaTabletBg {
      margin-bottom: 0;
    }
    @include Shared.mediaLaptop {
      padding-left: 40px;
    }
  }

  &-title {
    color: #505050;
    font-size: 16px;
    letter-spacing: 0.05em;
    margin-bottom: 1em;
    text-transform: uppercase;
    @include Shared.mediaTablet {
      font-size: 26px;
      margin-bottom: 30px;
    }
    @include Shared.mediaTabletBg {
      line-height: 38 / 26;
    }
    @include Shared.mediaLaptop {
      font-size: 32px;
      line-height: 44 / 32;
    }
  }

  &-description {
    font-size: 14px;
    @include Shared.mediaTablet {
      font-size: 16px;
      max-width: 520px;
    }
    @include Shared.mediaTabletBg {
      max-width: 360px;
    }
    @include Shared.mediaLaptop {
      font-size: 18px;
      max-width: 488px;
    }
  }

  &-img {
    display: block;
    width: 100%;
  }
}

.stories {
  &-slide {
    position: relative;
    z-index: 0;

    &-overlay {
      @include Shared.flex(center, center);
      background-color: rgba(#51504f, 0.5);
      border-radius: 10px;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    &-title {
      color: white;
      font-size: 16px;
      text-align: center;
      @include Shared.mediaTablet {
        font-size: 18px;
        letter-spacing: 0.05em;
      }
    }
  }
}
