@import 'src/styles/shared';
@import 'src/styles/ui';

:root {
  --headerHeight: $headerInititalHeight;
  --scrollbarWidth: 17px;
}

html {
  @include scrollbar;
}

html, body, #app {
  @include flex($d: column);
}

body {
  color: #82756e;
}

.container {
  @include container;
}

.form {
  &-warning {
    a {
      text-decoration: underline;
    }
  }
}

.swiper-button-prev, .swiper-button-next {
  @include flex(center, center);
}

.p404 {
  &-h1 {
    font-size: 40px;
    margin: 2.5em auto;
  }
}

.main {
  margin-top: var(--headerHeight);
}

input, textarea {
  &.error {
    color: #e71c35;
    border-color: #e71c35;
  }

  &.success {
    color: mediumseagreen;
    border-color: mediumseagreen;
  }
}
