@import "src/styles/shared";
@import "src/styles/ui";

html {
  @include scrollbar;
}

html, body, #app {
  @include flex($d: column);
}

body {
  color: #82756e;
}

.form {
  &-warning {
    a {
      text-decoration: underline;
    }
  }
}

.swiper-button-prev, .swiper-button-next {
  @include flex(center, center);

  //.icon-arrow-left {
  //  transform: translateX(-25%);
  //}
  //
  //.icon-arrow-right {
  //  transform: translateX(25%);
  //}
}

.p404 {
  &-h1 {
    font-size: 40px;
    margin: 2.5em auto;
  }
}
