@import "src/styles/shared";
@import "src/styles/fonts.scss";

@media screen and (any-hover: hover) {
  html::-webkit-scrollbar {
    width: 10px
  }
  html::-webkit-scrollbar-track {
    background: white;
  }
  html::-webkit-scrollbar-thumb {
    background: #51504f;
    border: 3px solid white;
  }
}

html, body, #app {
  @include flex($d: column);
}

body {
  color: #82756e;
}

.form {
  &-warning {
    a {
      text-decoration: underline;
    }
  }
}

.section-button {
  .icon-arrow-right {
    margin-left: 4px;
    @include mediaTablet {
      margin-left: 10px;
    }
  }
}

.swiper-button-prev, .swiper-button-next {
  @include flex(center, center);

  .icon-arrow-left {
    transform: translateX(-25%);
  }

  .icon-arrow-right {
    transform: translateX(25%);
  }
}

.icon-arrow-left, .icon-arrow-right {
  width: 6px;
  height: 10px;

  @include mediaTablet {
    width: 8px;
    height: 14px;
  }
}

.p404 {
  &-h1 {
    font-size: 40px;
    margin: 2.5em auto;
  }
}
