@import 'src/styles/shared';

:root {
  --modal-transition: transform 0.5s, opacity 0.5s;
}

.modal {
  @include flex(center, center, column);
  background: rgba(#51504f, 0.5);
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: translate(0, 0);
  transition: var(--modal-transition);
  width: 100%;
  z-index: 110;

  &.active {
    opacity: 1;
    pointer-events: auto;
    transform: none;
  }

  &.current {
    z-index: 120;
  }

  &-content {
    background: white;
    @include flex(center, center, column);
    height: 200px;
    max-width: 100%;
    padding: 24px 16px;
    position: relative;
    @include mediaTablet {
      height: 400px;
      padding: 20px;
      width: 400px;
    }
  }

  &-close {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
  }

  &-overlay {
    background: rgba(#51504f, 0.5);
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: opacity 0.5s;
    width: 100%;
    z-index: 101;

    &.active {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
