@use 'src/styles/shared' as Shared;

@mixin compensateScrollbar() {
  :not(.is-closing).open.has-vertical-scrollbar & {
    @content
  }
}

.details {
  &-summary {
    padding-left: unset;

    &::before {
      display: none;
    }
  }

  &-button {
    font-size: 12px;
    transform-origin: center;
    transition: transform 0.5s;

    .is-opening &, .open & {
      transform: rotate(90deg);
    }

    .is-closing & {
      transform: none;
    }
  }

  &-body {
    @include Shared.flex($d: column);
    padding-top: 0.5em;
  }
}
