@import "src/styles/shared";

@mixin compensateScrollbar() {
  :not(.is-closing).open.has-vertical-scrollbar & {
    @content
  }
}

.details {
  &-summary {
    &::before {
      display: none;
    }
  }

  &-body {
    @include flex($d: column);
    margin-top: 0.5em;
  }

  &-link {
    display: inline-block;
    margin-bottom: 0.5em;
  }
}
