@use 'src/styles/shared' as *;

.product {
  &-buttons {
    @include mediaOnlyMobile {
      position: fixed;
      z-index: 100;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 10px 15px 0 15px;
      background: white;
      box-shadow: 0 -2px 4px rgba(81, 80, 79, 0.25);
    }

    &-price {
      font-size: 14px;
      line-height: 18px;
      text-align: right;
      color: #505050;
      @include mediaTablet {
        display: none;
      }
    }

    .product-sizes-info span {
      display: none;
      @include mediaTablet {
        display: block;
      }
    }

    @include mediaTablet {
      display: flex;
      flex-direction: column;
    }
  }

  &-buttons-cont {
    @include flex(center, space-between);
    margin-top: 6px;
    padding-bottom: 16px;
    @include mediaTablet {
      justify-content: flex-start;
      order: 1;
      margin-bottom: 35px;
    }
  }

  &-btn {
    font-size: 17px;
    line-height: 100%;
    text-align: center;
    width: calc(50% - 4px);
    padding-top: 14px;
    padding-bottom: 13px;
    cursor: pointer;
    color: #c7b29c;
    border: 2px solid #c7b29c;
    border-radius: 4px;

    &-buy {
      border: 0;
      @include flex(center);
      position: relative;
      z-index: 0;
      overflow: hidden;
      color: white;
      background: #c7b29c;
      transition: background-color 1s;
      @include mediaTablet {
        width: 270px;
      }

      &._success {
        background: #505050;

        .default {
          transform: translate(100%, 0);
          transition-delay: 0s;
        }

        .active {
          transform: none;
          transition-delay: 0.33s;
        }
      }

      .default, .active {
        @include flex(center, center);
        width: 100%;
        height: 100%;
        flex: 0 0 auto;
      }

      .default {
        transition: transform 0.33s ease-in-out 0.33s;
      }

      .active {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        transform: translate(-100%, 0);
        transition: transform 0.5s ease-in-out 0s;
      }
    }

    &-size {
      @include flex(center, center);
      @include mediaTablet {
        display: none;
      }

      .icon-arrow-down {
        margin-left: 10px;
        transition: transform $toggleBtnTransition;
        transform-origin: center;
      }

      &.krel-toggle-active {
        .icon-arrow-down {
          transform: rotate(180deg);
        }
      }
    }

    &-wishlist {
      display: none;
      @include mediaTablet {
        // @include buttonFavourite;
        font-size: 20px;
        // position: relative;
        // top: auto;
        // left: auto;
        display: block;
        margin-left: 20px;
      }
    }
  }
}

.product-sizes {
  &-cont {
    @include mediaOnlyMobile {
      .product-title {
        display: none;
      }
    }
    @include mediaTablet {
      height: auto;
      opacity: 1;
    }
  }

  &-table-url {
    font-size: 15px;
    line-height: 18px;
    text-decoration: underline;
    margin-top: 24px;
    padding-bottom: 28px;
    cursor: pointer;
    color: #ada49e;
  }

  &-info {
    font-size: 15px;
    line-height: 22px;
    margin-top: 14px;
    color: #a79e98;

    span {
      display: block;
    }

    .product-sizes-table-url {
      margin-top: 0;
      padding-bottom: 41px;
    }

    &-mob {
      @include mediaTablet {
        display: none;
      }
    }
  }
}

.product {
  &-sizes {
    position: relative;
    z-index: 0;
    @include flex(center);
    column-gap: 10px;
    // width: 290px;

    &-notification {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.33s;
      color: #ea1c35;
      font-size: 14px;

      &._active {
        opacity: 1;
      }
    }
  }

  &-size {
    flex: 0 0 auto;
    font-size: 13px;
    line-height: 100%;
    text-align: center;
    display: block;
    width: 40px;
    height: 40px;
    padding: 5px 0;
    cursor: pointer;
    border: 2px solid #e9e9e9;
    border-radius: 4px;

    &._active {
      background-color: #e9e9e9;
    }

    span {
      font-size: 14px;
      display: block;
    }
  }
}
