@use 'src/styles/shared' as *;


.order {
  font-size: 14px;
  color: #80756e;

  &-note {
    line-height: 1.4;
    margin-bottom: 20px;
  }

  &-warning {
    color: #e71c35;
  }

  &-container {
    @include container;
  }

  &-layout {
    @include mediaTabletBg {
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: 56px;
    }
  }

  &-title {
    @include pageTitle;
  }

  &-steps {
    margin-bottom: 32px;
    @include mediaLaptop {
      margin-bottom: 120px;
    }
  }
}
