@use 'src/styles/shared' as *;


.form {
  &-label {
    display: inline-block;
    margin-bottom: 18px;
    @include mediaTablet {
      font-size: 18px;
    }
    @include mediaLaptop {
      font-size: 20px;
      margin-bottom: 36px;
    }
  }

  &-main {
    @include flex(center);
  }

  &-input {
    @include inputGrey;
    flex: 1 0 auto;
  }

  &-button {
    @include buttonSquare;
  }

  &-submit {
    @include buttonPurple;
  }

  &-warning {
    font-size: 13px;

    a {
      text-decoration: underline;
    }
  }
}
