@import "src/styles/shared";

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  transition: background-color 0.5s, backdrop-filter 0.5s, border-color 0.5s;
  border-bottom: 2px solid transparent;

  padding: 10px 0;
  @include mediaLaptop {
    padding: 20px 0;
  }
  @include mediaDesktop {
    left: 50%;
    transform: translate(-50%, 0);
  }

  &.hovered, &.scrolled {
    background: white;
    color: #938781;
    border-color: #f2f2f2;
  }

  //&.scrolled {
  //  background: rgba(black, 0.33);
  //  backdrop-filter: blur(8px);
  //}

  &-container {
    padding: 0 6px;
    @include mediaLaptop {
      padding: 0;
    }
    @include mediaDesktop {
      margin: 0 auto;
      max-width: 1920px;
    }
  }

  &-desktop {
    display: none;

    @include mediaLaptop {
      @include flex(center);
      margin: 0 auto;
      padding: 0 48px;
    }
  }

  &-mobile {
    @include flex(center, space-between);

    @include mediaLaptop {
      display: none;
    }

    &-button {
      flex: 0 0 auto;
      width: 18px;
      height: 18px;
      margin: 0 8px;
    }
  }

  &-links {
    font-size: 17px;
    letter-spacing: 0.34px;
    margin-right: auto;
  }

  &-link {
    display: inline-block;
    margin-right: 1em;

    &:hover {
      color: #6f6e6d;
    }
  }

  &-logo {
    display: inline-block;
    margin: 0 auto;
    height: 20px;
    width: 100px;

    @include mediaLaptop {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 156px;
      height: 32px;
    }
  }

  &-buttons {
    @include flex(center);
    margin-left: auto;
  }

  &-button-purple {
    border-radius: 4px;
    background: #766cff;
    color: white;
    font-size: 17px;
    letter-spacing: 0.05em;
    width: 100%;
    height: 43px;
    margin: 0 auto 22px;

    @include mediaLaptop {
      width: 228px;
      margin: 0 (36px - 20px) 0 auto;
    }
  }

  &-button {
    // margin-right: 20px;
    margin-left: 20px;
  }
}
