@use 'src/styles/shared';

.header {
  border-bottom: 2px solid transparent;
  color: white;
  left: 0;
  overflow: hidden;
  padding: 12px 0;
  position: fixed;
  top: 0;
  transition: background-color 0.5s, backdrop-filter 0.5s, border-color 0.5s;
  width: 100%;
  z-index: 100;
  @include mediaMobileConventional {
    padding: 16px 0;
  }
  @include mediaTablet {
    padding: 20px 0;
  }
  //@include mediaLaptop {
  //  padding: 20px 0;
  //}

  &.hovered, &.scrolled, &.active {
    background: white;
    border-color: #f2f2f2;
    color: #938781;
  }

  &-container {
    padding: 0 ($containerPaddingMobile - 6px);
    @include mediaTablet {
      padding: 0 ($containerPaddingTablet - 11px);
    }

    @include mediaDesktop {
      margin: 0 auto;
      max-width: 1920px;
      padding: 0 $containerPaddingDesktop;
    }
  }

  &-desktop {
    display: none;

    @include mediaLaptop {
      @include flex(center);
      margin: 0 auto;
      padding: 0 48px;
    }
  }

  &-links {
    font-size: 17px;
    letter-spacing: 0.34px;
    margin-right: auto;
  }

  &-link {
    display: inline-block;
    margin-right: 1em;

    &:hover {
      color: #6f6e6d;
    }
  }

  &-logo {
    display: inline-block;
    font-size: 20px;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    @include mediaMobileConventional {
      font-size: 22px;
    }
    @include mediaTablet {
      font-size: 32px;
    }
    //@include mediaLaptop {
    //  font-size: 32px;
    //}
  }

  &-buttons {
    @include flex(center);
    margin-left: auto;
  }

  &-button-purple {
    background: #766cff;
    border-radius: 4px;
    color: white;
    font-size: 17px;
    height: 44px;;
    letter-spacing: 0.05em;
    margin: 0 auto 22px;
    width: 100%;

    @include mediaLaptop {
      margin: 0 (36px - 20px) 0 auto;
      width: 228px;
    }
  }

  &-button {
    font-size: 20px;
    margin-left: 20px;
  }
}
