@use 'src/styles/shared' as Shared;

.header-mobile {
  @include Shared.flex(center, space-between);
  @include Shared.mediaLaptop {
    display: none;
  }

  &-left, &-right {
    @include Shared.flex(center);
  }

  &-button {
    @include Shared.flex(center, center);
    flex: 0 0 auto;
    font-size: 18px;
    margin: 0 0.4em;
    @include Shared.mediaMobileConventional {
      font-size: 20px;
    }
    @include Shared.mediaTablet {
      font-size: 26px;
      margin: 0 0.5em;
    }
  }
}
