$icon-squares-5: '\e900';
$icon-squares-7: '\e901';
$icon-square: '\e902';
$icon-squares-3: '\e903';
$icon-squares-4: '\e904';
$icon-squares-6: '\e905';
$icon-squares-8: '\e906';
$icon-telegram: '\e907';
$icon-vk: '\e908';
$icon-arrow-down: '\e909';
$icon-arrow-left: '\e90a';
$icon-arrow-right: '\e90b';
$icon-arrow-up: '\e90c';
$icon-close: '\e90d';
$icon-filters: '\e90e';
$icon-heart: '\e90f';
$icon-heart-fill: '\e910';
$icon-location: '\e911';
$icon-logo: '\e912';
$icon-menu: '\e913';
$icon-mute: '\e914';
$icon-person: '\e915';
$icon-search: '\e916';
$icon-suitcase: '\e917';
