@import 'src/styles/shared';

.info {
  &-container {
    @include container;
    @include mediaLaptop {
      display: grid;
      grid-template-columns: 1fr 3fr;
      column-gap: 60px;
    }
  }

  &-nav {
    position: relative;
    z-index: 0;
    margin: 24px 0;
    @include mediaTablet {
      margin: 32px 0;
    }
    @include mediaLaptop {
      position: sticky;
      z-index: 0;
      top: calc(var(--headerHeight) + 20px);
      height: fit-content;
    }

    &-header {
      @include flex(center);
    }

    &-title {
      font-size: 14px;
      letter-spacing: 0.02em;
      @include mediaTablet {
        font-size: 16px;
      }
      @include mediaLaptop {
        font-size: 17px;
        margin-bottom: 22px;
      }
    }

    &-button {
      @include flex(center, center);
      font-size: 14px;
      margin: 0 0.5em;
      transition: transform 0.5s;
      transform-origin: center;
      color: #82756e;
      @include mediaLaptop {
        display: none;
      }

      &.active {
        transform: rotate(-180deg);
      }
    }

    &-list {
      @include flex($d: column);
      width: 100%;
      max-width: 240px;
      background: white;
      @include mediaOnlyMobileAndAllTablets {
        position: absolute;
        z-index: 1;
        top: calc(100% + 14px);
        left: 0;
        overflow: hidden;
        transition: opacity 0.5s, transform 0.5s;
        transform: translate(0, 40px);
        pointer-events: none;
        opacity: 0;
        border-radius: 8px;
        box-shadow: 0 4px 12px 0 rgba(black, 0.15);
      }

      &.active {
        transform: none;
        pointer-events: auto;
        opacity: 1;
      }
    }

    &-item {
      font-size: 13px;
      line-height: 1;
      letter-spacing: 0.02em;
      flex: 0 0 auto;
      padding: 10px $containerPaddingMobile;
      transition: background-color 0.5s, color 0.5s;
      @include mediaLaptop {
        font-size: 15px;
        margin-bottom: 0.75em;
        padding: 0;
      }

      &.active, &:hover {
        color: #766cff;
        @include mediaOnlyMobileAndAllTablets {
          background: #f1f1f1;
        }
      }
    }
  }
}
