@use 'src/styles/shared' as Shared;
@use 'src/styles/ui';

.section {
  overflow: hidden;
  padding: 30px 0 60px;
  @include Shared.mediaTablet {
    padding: 50px 0 80px
  }
  @include Shared.mediaLaptop {
    padding: 80px 0 110px;
  }

  &-container {
    @extend .container;
  }

  &-header {
    @include Shared.flex(center, space-between);
    margin-bottom: 14px;
    @include Shared.mediaLaptop {
      margin-bottom: 20px;
    }
  }

  &-title, &-button {
    color: #80756e;
    font-size: 16px;
    line-height: 54 / 18;

    @include Shared.mediaTablet {
      font-size: 18px;
    }
  }

  &-button {
    .icon-arrow-right {
      font-size: 12px;
    }
  }

  &-layout {
    margin-bottom: 30px;
    @include Shared.mediaTablet {
      margin-bottom: 50px;
    }
    @include Shared.mediaLaptop {
      margin-bottom: 80px;
    }
  }

  &-product {
    border-radius: 8px;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;

    &-favourite {
      height: 18px;
      opacity: 0.75;
      position: absolute;
      right: 5px;
      top: 5px;
      width: 18px;
      z-index: 1;

      @include Shared.mediaTablet {
        height: 20px;
        right: 10px;
        top: 10px;
        width: 20px;
      }
    }

    &-img {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    &-title,
    &-price,
    &-colors {
      display: none;
    }
  }
}

.swiper {
  overflow: unset;
  @include Shared.mediaTabletBg {
    overflow: hidden;
  }

  &-slide {
    height: auto;
    min-height: 0;
  }

  &-button {
    &-prev, &-next {
      background: white;
      cursor: pointer;
      display: none;
      height: 34px;
      opacity: 0.75;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 30px;

      z-index: 1;
      @include Shared.mediaTabletBg {
        display: flex;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.25;
      }
    }

    &-disabled {
      opacity: 0;
    }

    &-prev {
      border-radius: 0 8px 8px 0;
      left: 0;
    }

    &-next {
      border-radius: 8px 0 0 8px;
      right: 0;
    }
  }
}
