@import "src/styles/shared";

.footer {
  // padding-top: 46px;
  color: #80756e;
  overflow: hidden;

  &-container {
    @extend .container;
  }

  &-layout {
    @include mediaLaptop {
      display: grid;
      grid-template-columns: 1fr 3fr;
    }
  }

  &-desktop {
    padding: 48px 0 72px;

    &-container {
      @extend .container;
      @include flex($j: space-between);
    }

    &-col {
    }

    &-title {
      display: inline-block;
      color: #82756e;
      font-size: 20px;
      margin-bottom: 36px;
    }

    &-links {
      @include flex($d: column);
      color: #82756e;
      font-size: 17px;

      a, button {
        display: inline-block;
        width: fit-content;
        margin-bottom: 16px;
      }

      button {
        color: #766cff;
        text-align: left;
      }
    }
  }

  &-form, &-menu, &-copyright {
    border-top: 1px solid #e9e9e9;
  }

  &-form {
    // padding: 46px 0;
    @include mediaTablet {
      // @include flex(center);
      max-width: 300px;
    }

    &-main {
      @include mediaLaptop {
        margin-bottom: 20px;
      }
    }
  }

  &-menu {
    padding: 32px 0;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 32px;

    @include mediaTablet {
      @include flex;
    }
    @include mediaLaptop {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-copyright {
    padding: 28px 0;
  }

  .details {
    font-size: 18px;
    @include mediaTablet {
      margin-right: 40px;
    }
    @include mediaLaptop {
      margin-right: 0;
    }

    &_feedback {
      font-size: 20px;
      @include mediaTablet {
        margin-left: auto;
        margin-right: 0;
      }
      @include mediaLaptop {
        margin-left: 0;
      }
    }

    &-summary {
      font-size: 18px;

      @include mediaLaptop {
        font-size: 20px;
      }
    }

    &-body {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 16px;
      @include mediaTablet {
        margin-top: 32px;
      }
      @include mediaLaptop {
        font-size: 17px;
      }

      button {
        text-align: left;
        color: #766cff;
      }
    }
  }
}

.footer {
  &-desktop {
    .footer-container {
      @include flex($j: space-between);

      & > * {
        flex: 0 0 auto;
        width: fit-content;
      }
    }
  }
}
