@import 'src/styles/shared';

.search-card {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 8px;

  &-img {
  }

  &-title {
    font-size: 15px;
  }

  &-price {
    font-size: 17px;
  }

  &-colors {
    @include flex(center);
  }

  &-color {
    width: 11px;
    height: 11px;
    margin-right: 4px;
    border-radius: 50%;
  }
}
