@use 'src/styles/shared' as Shared;

.search {
  background: white;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: transform 0.5s;
  @include Shared.mediaOnlyMobileAndTablets {
    height: 100%;
    overflow-y: auto;
    transform: translate(calc(-100% - 100px), 0);
    width: 320px;
    z-index: 105;
    @include Shared.scrollbar;
  }
  @include Shared.mediaTablet {
    height: 440px;
    padding-bottom: 48px;
    transform: translate(0, calc(-100% - 100px));
    width: 100%;
  }
  @include Shared.mediaLaptop {
    box-shadow: 12px 12px 24px 0 rgba(black, 0.1);
    height: 650px;
    overflow: unset;
    padding: 0;
    z-index: 130;
  }

  &.active {
    pointer-events: auto;
    transform: none;
  }

  &-layout {
    @include Shared.mediaLaptop {
      display: grid;
      grid-template-columns: 3fr 1fr;
    }
  }

  &-header {
    @include Shared.flex(center);
    border-bottom: 2px solid #e9e9e9;
    padding: $containerPaddingMobile;
    @include Shared.mediaTablet {
      padding: $containerPaddingMobile 20px;
    }
    @include Shared.mediaLaptop {
      padding: 24px;
    }
  }

  &-body {
    @include Shared.mediaOnlyTablet {
      @include Shared.flex($w: wrap);
      margin-bottom: 56px - 14px;
    }
  }

  &-footer {
    @extend .container;
    @include Shared.mediaLaptop {
      display: none;
    }
  }

  &-close {
    @include Shared.flex(center, center);
    @include Shared.mediaTablet {
      font-size: 18px;
    }
    @include Shared.mediaLaptop {
      font-size: 24px;
      margin-left: auto;
    }
  }

  &-form {
    @include Shared.flex(center);
    padding: 20px 40px 0 20px;
    position: relative;
    z-index: 0;
    @include Shared.mediaTablet {
      margin-bottom: 32px;
    }
  }

  &-label {
    @include Shared.flex;
    flex: 1 0 auto;
    position: relative;
    z-index: 0;
  }

  &-submit {
    @include Shared.flex(center, center);
    font-size: 18px;
    margin-right: 8px;
    @include Shared.mediaTablet {
      font-size: 22px;
    }
  }

  &-input {
    @extend .input-grey;
    color: #51504f;
    flex: 1 0 auto;
    font-size: 14px;
    letter-spacing: 0.02em;

    &-reset {
      @include Shared.flex(center, center);
      font-size: 14px;
      position: absolute;
      right: 8px;
      top: 14px;
      z-index: 1;
    }
  }


  &-recommended, &-categories {
    @include Shared.flex($d: column);
    padding: 20px 40px 0;
    @include Shared.mediaTablet {
      padding: 0 40px;
    }
  }

  &-categories {
    @include Shared.mediaOnlyMobile {
      margin-bottom: 40px;
    }
  }

  &-title {
    display: inline-block;
    font-size: 17px;
    margin-bottom: 1em;
    @include Shared.mediaTablet {
      margin-bottom: 24px;
    }
    @include Shared.mediaLaptop {
      color: #51504f;
      font-size: 18px;
    }
  }

  &-link {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.02em;
    margin-bottom: 1em;
    @include Shared.mediaLaptop {
      font-size: 17px;
    }
  }


  &-button {
    @extend .button-brown;
    margin: 0 auto;
    @include Shared.mediaTablet {
      width: 250px;
    }
  }
}
