@import "src/styles/shared";

.search {
  //@include mediaLaptop {
  //  overflow: hidden;
  //}

  &-desktop {
    display: none;
    @include mediaLaptop {
      display: block;
      // padding: 0 48px;
    }
  }

  &-layout {
    @include mediaLaptop {
      @include container;
      column-gap: 56px;
      padding-top: 32px !important;
    }
  }

  &-results {
    &-title {
      font-size: 18px;
      margin-bottom: 18px;
    }

    &-button {
      @extend .button-brown;
      width: 300px;
      margin: 0 auto;
    }
  }

  &-cards {
    @include mediaLaptop {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 14px;
      row-gap: 32px;
      margin-bottom: 32px;
    }
  }

  &-form, &-recommended, &-categories {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.search-card {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 8px;

  &-img {
  }

  &-title {
    font-size: 15px;
  }

  &-price {
    font-size: 17px;
  }

  &-colors {
    @include flex(center);
  }

  &-color {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin-right: 4px;
  }
}
