@import "src/styles/shared";

.search {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  transition: transform 0.5s;
  pointer-events: none;
  @include mediaOnlyMobileAndTablets {
    z-index: 105;
    width: 320px;
    transform: translate(calc(-100% - 100px), 0);
    overflow-y: auto;
    height: 100%;
    @include scrollbar;
  }
  @include mediaTablet {
    transform: translate(0, calc(-100% - 100px));
    height: 440px;
    width: 100%;
    padding-bottom: 48px;
  }
  @include mediaLaptop {
    height: 650px;
    z-index: 130;
    overflow: unset;
    padding: 0;
    box-shadow: 12px 12px 24px 0 rgba(black, 0.1);
  }

  &.active {
    pointer-events: auto;
    transform: none;
  }

  &-layout {
    @include mediaLaptop {
      display: grid;
      grid-template-columns: 3fr 1fr;
    }
  }

  &-header {
    @include flex(center);
    padding: $containerPaddingMobile;
    border-bottom: 2px solid #e9e9e9;
    @include mediaTablet {
      padding: $containerPaddingMobile 20px;
    }
    @include mediaLaptop {
      padding: 24px;
    }
  }

  &-body {
    @include mediaOnlyTablet {
      @include flex($w: wrap);
      margin-bottom: 56px - 14px;
    }
  }

  &-footer {
    @extend .container;
    @include mediaLaptop {
      display: none;
    }
  }

  &-close {
    @include flex(center, center);
    @include mediaTablet {
      font-size: 18px;
    }
    @include mediaLaptop {
      font-size: 24px;
      margin-left: auto;
    }
  }

  &-form {
    @include flex(center);
    position: relative;
    z-index: 0;
    padding: 20px 40px 0 20px;
    @include mediaTablet {
      margin-bottom: 32px;
    }
  }

  &-label {
    @include flex;
    flex: 1 0 auto;
    position: relative;
    z-index: 0;
  }

  &-submit {
    @include flex(center, center);
    font-size: 18px;
    margin-right: 8px;
    @include mediaTablet {
      font-size: 22px;
    }
  }

  &-input {
    @extend .input-grey;
    flex: 1 0 auto;
    font-size: 14px;
    color: #51504f;
    letter-spacing: 0.02em;

    &-reset {
      @include flex(center, center);
      position: absolute;
      z-index: 1;
      top: 14px;
      right: 8px;
      font-size: 14px;
    }
  }


  &-recommended, &-categories {
    @include flex($d: column);
    padding: 20px 40px 0;
    @include mediaTablet {
      padding: 0 40px;
    }
  }

  &-categories {
    @include mediaOnlyMobile {
      margin-bottom: 40px;
    }
  }

  &-title {
    display: inline-block;
    font-size: 17px;
    margin-bottom: 1em;
    @include mediaTablet {
      margin-bottom: 24px;
    }
    @include mediaLaptop {
      font-size: 18px;
      color: #51504f;
    }
  }

  &-link {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.02em;
    margin-bottom: 1em;
    @include mediaLaptop {
      font-size: 17px;
    }
  }


  &-button {
    @extend .button-brown;
    margin: 0 auto;
    @include mediaTablet {
      width: 250px;
    }
  }
}
