@use 'src/styles/shared' as Shared;
@use 'src/styles/ui';

.catalog-detail {
  margin-bottom: 100px;

  &-container {
    @extend .container;

    @include Shared.mediaOnlyMobile {
      padding-left: 0;
      padding-right: 0;
    }


    @include Shared.mediaTablet {
      display: flex;
    }

  }

  &-left {
    overflow: hidden;
    width: 100%;

    @include Shared.mediaTablet {
      margin-right: 47px;
      width: 337px;
    }
    @include Shared.mediaTabletBg {
      width: 626px;
    }
    @include Shared.mediaLaptop {
      margin-right: 56px;
      width: 787px;
    }
    @include Shared.mediaDesktop {
      margin-right: 77px;
      width: 1106px;
    }
  }

  &-right {
    @include Shared.mediaOnlyMobile {
      padding: 0 Shared.$containerPaddingMobile;
    }
    @include Shared.mediaTablet {
      flex: 1;
    }

    &-sticky {
      @include Shared.mediaTablet {
        position: sticky;
        top: 100px;
        z-index: 0;
      }
    }
  }

  &-title {
    font-size: 17px;
    margin-bottom: 17px;
  }

  &-back {
    @include Shared.flex(center);
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 14px;
    margin-top: 15px;
    width: 100%;
    @include Shared.mediaTablet {
      font-size: 16px;
      margin: 23px 0;
    }

    &:before {
      background: url('src/assets/img/catalog-detail/catalog-detail-back.png');
      background-size: cover;
      content: '';
      display: block;
      height: 13px;
      margin-right: 7px;
      width: 7px;
      @include Shared.mediaTablet {
        height: 14px;
        margin-right: 14px;

        width: 8px;
      }
    }
  }

  &-info {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: Shared.$containerPaddingMobile * 1.5;
    @include Shared.detailsMobile;

    .details {
      &-summary {
        padding-left: Shared.$containerPaddingMobile * 2;
      }

      &-button {
        left: 0
      }
    }
  }

  &-prices {
    @include Shared.mediaLaptop {
      margin-bottom: 20px;
    }
  }

  &-instalment {
    @include Shared.flex(center);
    background: #f2f2f2;
    border-radius: 4px;
    color: #51504f;
    font-size: 14px;
    margin-bottom: 36px;
    padding: 12px;
    width: 100%;

    &-logo {
      border-radius: 4px;
      height: 20px;
      margin-right: 10px;
      width: 68px;
    }

    .icon-arrow-right {
      color: #82756e;
      font-size: 13px;
      margin-left: auto;
    }
  }

  // костыль
  &-products {
    padding: 30px 0;

    &:last-child {
      margin-bottom: 100px;
    }

    .section-product {
      @include Shared.flex($d: column);

      &-title, &-price, &-colors {
        display: block;
        font-size: 14px;
        margin-top: 8px;
        order: 1;
      }

      &-colors {
        @include Shared.flex(center);
      }

      &-color {
        border-radius: 50%;
        height: 14px;
        margin-right: 0.5em;
        width: 14px;
      }

      &-img {
        height: auto;
      }
    }
  }
}


