@import 'src/styles/shared';

.catalog-detail {
  margin-top: 85px;

  &-container {
    @extend .container;

    @include mediaOnlyMobile {
      padding-left: 0;
      padding-right: 0;
    }


    @include mediaTablet {
      display: flex;
    }

  }

  &-left {
    width: 100%;
    overflow: hidden;

    @include mediaTablet {
      width: 337px;
      margin-right: 47px;
    }
    @include mediaTabletBg {
      width: 626px;
    }
    @include mediaLaptop {
      width: 787px;
      margin-right: 57px;
    }
    @include mediaDesktop {
      width: 1106px;
      margin-right: 77px;
    }


  }

  &-right {
    @include mediaOnlyMobile {
      padding: 0 $containerPaddingMobile;
    }
    @include mediaTablet {
      flex: 1;
    }
  }


}


