@use 'src/styles/shared' as Shared;

.breadcrumbs {
  font-size: 13px;
  margin: 2em 0 3em;
}

.breadcrumb {
  color: #ada49e;

  &:after {
    content: '/';
    display: inline-block;
    margin: 0 0.75em;
  }

  &.active {
    &::after {
      display: none;
    }
  }
}
