@use 'src/styles/shared' as Shared;
@use 'src/styles/ui';

.auth {
  @include Shared.flex($d: column);
  background: white;
  font-size: 14px;
  padding: 24px 16px 40px;
  position: relative;
  width: calc(100% - 32px);
  z-index: 0;

  @include Shared.mediaTablet {
    padding: 40px 48px 48px;
    width: 400px;
  }

  &-close {
    color: #82756e;
    font-size: 20px;
    position: absolute;
    right: 18px;
    top: 18px;
    z-index: 1;
  }

  a {
    text-decoration: underline;
  }

  p {
    margin-bottom: 1em;
  }

  &-title {
    color: #51504f;
    font-size: 20px;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
  }

  &-body {
    @include Shared.flex($d: column);
    flex: 1 0 auto;
  }

  &-step {
    @include Shared.flex($d: column);
    flex: 1 0 auto;
  }

  &-success {
    @include Shared.flex($d: column);
    flex: 1 0 auto;
    font-size: 17px;
    text-align: center;

    img {
      margin: 0 auto 1em;
    }
  }

  &-label {
    display: block;
    margin-bottom: 18px;
  }

  &-input {
    @extend .input-grey;
    width: 100%;

    &-message {
      color: #e71c35;
      display: inline-block;
      font-size: 14px;
      margin-top: 0.5em;
    }
  }

  &-button {
    @extend .button-brown;
    margin: 0 auto 18px;
  }

  &-message {
    margin-bottom: auto;
  }

  &-policy {
    @include Shared.flex;
    margin-bottom: 32px;
  }

  &-link {
    color: #82756e;
    display: inline-block;
    font-size: 17px;
    margin: 0 auto;
    text-decoration: underline;
  }
}
