@import 'src/styles/shared';

.banner {
  display: block;
  width: 100%;

  &-img, &-video {
    display: block;
    width: 100%;
    @include mediaOnlyMobile {
      min-height: calc(100vh - var(--headerHeight));
    }
  }
}
