@import "src/styles/shared";

.select {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: fit-content;
  font-size: 13px;
  letter-spacing: 0.02em;
  margin-right: 1.5em;
  @include mediaTablet {
    font-size: 15px;
  }
  @include mediaLaptop {
    font-size: 17px;
  }

  &-input {
    width: 100px;
    font-size: 15px;
    padding: 0.75em 1em;
    background: #f2f2f2;
    border-radius: 8px;
  }

  &-prices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    margin-bottom: 1em;
  }

  &-current {
    @include flex(center);
    cursor: pointer;

    &-text, &-value {
      display: inline-block;
    }

    &-value {
      margin: 0 0.25em;
    }

    &-button {
      @include flex(center, center);
      transform-origin: center;
      transition: transform 0.5s;
      font-size: 13px;

      &.active {
        transform: rotate(180deg);
      }
    }
  }

  &-options {
    position: absolute;
    z-index: 1;
    top: calc(100% + 10px);
    left: -20px;
    min-width: 160px;
    background: white;
    box-shadow: 4px 4px 16px 0 rgba(black, 0.25);
    transition: opacity 0.25s, transform 0.25s;
    border-radius: 12px;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transform: translate(0, 40px);
    padding: 16px 12px 12px;

    &.active {
      opacity: 1;
      pointer-events: auto;
      transform: none;
    }
  }

  &-option {
    @include flex(center);
    cursor: pointer;

    white-space: nowrap;
    transition: background 0.5s, color 0.5s;
    font-size: 13px;
    padding: 0.75em 1em;
    @include mediaLaptop {
      font-size: 14px;
    }

    //&:hover {
    //  background: #f2f2f2;
    //}

    &.active {
      color: #51504f;
    }
  }

  &-button {
    @include flex(center, center);
    background: #c7b29c;
    color: white;
    width: 100%;
    height: 44px;;
    margin: 20px auto 0;
    font-size: 17px;
  }
}
