@use 'src/styles/shared' as Shared;

.banner {
  display: block;
  width: 100%;

  &-img, &-video {
    display: block;
    width: 100%;
    @include Shared.mediaOnlyMobile {
      min-height: calc(100vh - var(--headerHeight));
    }
  }
}
