@use 'src/styles/variables';

@mixin flex($a:'unset', $j:'unset', $d:'unset', $w:'unset') {
  display: flex;
  @if ($a != 'unset') {
    align-items: $a;
  }
  @if ($j != 'unset') {
    justify-content: $j;
  }
  @if ($d != 'unset') {
    flex-direction: $d;
  }
  @if ($w!='unset') {
    flex-wrap: $w;
  }
}

@mixin notLastChild {
  & > :not(:last-child) {
    @content;
  }
}

@mixin lineClamp($lines: 3) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin scrollbar {
  @media screen and (any-hover: hover) {
    &::-webkit-scrollbar {
      width: 10px
    }
    &::-webkit-scrollbar-track {
      background: white;
    }
    &::-webkit-scrollbar-thumb {
      background: #51504f;
      border: 3px solid white;
    }
  }
}

@mixin detailsMobile {
  .details {
    &-summary {
      position: relative;
      z-index: 0;

      &-link {
        font-size: 18px;
      }
    }

    &.is-opening, &.open {
      .details-button {
        transform: rotate(-90deg);
      }
    }

    &-button {
      position: absolute;
      z-index: 1;
      top: 4px;
      left: $containerPaddingMobile * -2;
      width: $containerPaddingMobile;
      font-size: 13px;
    }

    &-body {
      padding: $containerPaddingMobile 0 0;
      font-size: 14px;
      letter-spacing: 0.02em;
    }

    &-link {
      display: inline-block;
      margin-bottom: 1em;
    }
  }
}
