@use 'src/styles/shared' as Shared;
@use 'src/styles/ui';

.form {
  &-label {
    display: inline-block;
    margin-bottom: 18px;
    @include Shared.mediaTablet {
      font-size: 18px;
    }
    @include Shared.mediaLaptop {
      font-size: 20px;
      margin-bottom: 36px;
    }
  }

  &-main {
    @include Shared.flex(center);
  }

  &-input {
    @extend .input-grey;
    flex: 1 0 auto;
  }

  &-button {
    @extend .button-square;
  }

  &-warning {
    font-size: 13px;

    a {
      text-decoration: underline;
    }
  }
}
